Repository pymor/pymor, changes with the labels that .github/labeler.yml gives for each.
All labels: algorithms, buildsystem, bindings, builtin-models, docs, testing, management

.github/labeler.yml:

algorithms:
  - src/pymortests/algorithms/*
  - src/pymor/algorithms/*

buildsystem:
  - .ci/*
  - .github/*
  - .binder/*
  - Makefile
  - azure-pipelines.yml
  - requirements*
  - pyproject.toml
  - MANIFEST.in
  - dependencies.py
  - setup.*
  - versioneer.py

bindings:
  - src/pymor/bindings/*

builtin-models:
  - src/pymor/discretizers/*
  - src/pymor/playground/discretizers/*
  - src/pymortests/model.py
  - src/pymortests/fixtures/model.py
  - src/pymor/models/*

docs:
  - docs/*
  - notebooks/*

testing:
  - src/pymortests/*

management:
  - AUTHORS.md
  - CONTRIBUTING.md
  - LICENSE.txt

[gui] enable separate axes for subplots
  notebooks/elliptic_oned.ipynb
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymor/discretizers/builtin/gui/visualizers.py
Labels: docs

[ci] tighter timeout for dind jobs + restrict restarts to system failures
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: none

[docs|setup] add bash_kernel as dependencies for docs
  dependencies.py
  docs/Makefile
  requirements-optional.txt
Labels: buildsystem, docs

[docs] Apply suggestions from code review for cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] adds a external solver bindings tutorial
  docs/source/index.rst
  docs/source/minimal_cpp_demo/CMakeLists.txt
  docs/source/minimal_cpp_demo/model.cc
  docs/source/minimal_cpp_demo/model.hh
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] be preciser with the eq. definitions in cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] Apply suggestions from code review for cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] Apply suggestions from code review for cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] be preciser with the eq. definitions in cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[docs|setup] add bash_kernel as dependencies for docs
  dependencies.py
  docs/Makefile
  requirements-optional.txt
Labels: buildsystem, docs

[docs] adds a external solver bindings tutorial
  docs/source/index.rst
  docs/source/minimal_cpp_demo/CMakeLists.txt
  docs/source/minimal_cpp_demo/model.cc
  docs/source/minimal_cpp_demo/model.hh
  docs/source/tutorial_external_solver.rst
Labels: none

[docs] Apply suggestions from code review for cpp_tutorial
  docs/source/tutorial_external_solver.rst
Labels: none

[ci] tighter timeout for dind jobs + restrict restarts to system failures
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: none
