Repository pymor/pymor, pull requests merged in 2019-08, with the labels that each got.

#736 Low-rank RADI solver for Riccati equations
  docs/source/bibliography.rst
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/riccati.py
  src/pymortests/riccati.py
Labels: linear algebra, type: new-feature

#745 Update authors
  AUTHORS.md
Labels: docs, type: fix

#740 [function/bitmap] Fix typo
  src/pymor/functions/bitmap.py
Labels: docs, type: fix

#751 Exclude branches starting with staging/ from running CI
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: buildsystem, type: new-feature

#750 Add notion of output to ModelInterface 2
  .ci/docker/install_checks/debian_stretch/Dockerfile
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  notebooks/delay.ipynb
  notebooks/heat.ipynb
  notebooks/parametric_heat.ipynb
  src/pymor/analyticalproblems/elliptic.py
  src/pymor/discretizers/cg.py
  src/pymor/discretizers/fv.py
  src/pymor/models/basic.py
  src/pymor/models/interfaces.py
  src/pymor/reductors/basic.py
  src/pymordemos/heat.py
Labels: interfaces, type: new-feature

#756 Rename parameter coordinates to index
  src/pymor/analyticalproblems/thermalblock.py
  src/pymor/parameters/functionals.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_simple.py
Labels: generic-objects, type: change

#748 Add partial derivatives w.r.t. parameters
  AUTHORS.md
  src/pymor/operators/basic.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interfaces.py
  src/pymor/parameters/functionals.py
  src/pymor/parameters/interfaces.py
  src/pymortests/mu_derivatives.py
Labels: generic-objects, interfaces, type: new-feature

#758 Fix Deprecated decorator and improve it's output
  src/pymor/tools/deprecated.py
  src/pymor/vectorarrays/interfaces.py
Labels: type: fix
