Repository pymor/pymor, pull requests merged in 2019-11, with the labels that each got.

#809 Avoid checking in BlockOperators if block is None
  src/pymor/operators/block.py
Labels: generic-objects, type: fix

#808 Add convergence check for pymess
  src/pymor/bindings/pymess.py
Labels: bindings, sys-mor, type: new-feature

#812 Handle solver_options in FenicsMatrixOperator._assemble_lincomb
  src/pymor/bindings/fenics.py
Labels: bindings, type: fix

#814 [algorithms.image] fix CollectVectorRangeRules for ConcatenationOperator
  src/pymor/algorithms/image.py
Labels: algorithms, type: fix

#759 Py3js-based Jupyter Visualization
  .binder/Dockerfile
  dependencies.py
  docs/source/conf.py
  notebooks/elliptic.ipynb
  requirements-optional.txt
  src/pymor/core/config.py
  src/pymor/gui/jupyter/__init__.py
  src/pymor/gui/jupyter/logging.py
  src/pymor/gui/jupyter/patch.py
  src/pymor/gui/jupyter/threejs.py
  src/pymor/gui/qt.py
  src/pymor/gui/visualizers.py
  src/pymor/models/basic.py
  src/pymor/tools/vtkio.py
Labels: docs, type: new-feature

#815 Make assumptions on mass Operator in InstationaryModel consistent
  src/pymor/algorithms/timestepping.py
  src/pymor/models/basic.py
  src/pymor/reductors/parabolic.py
Labels: docs, generic-objects, type: fix
