Repository pymor/pymor, pull requests merged in 2019-10, with the labels that each got.

#783 Type of w in freq_resp and mag_plot
  src/pymor/models/iosys.py
Labels: builtin-models, sys-mor, type: change

#785 Simplify implementation of project
  src/pymor/algorithms/projection.py
Labels: implementation, type: change

#786 Handle projection of parametric BlockOperators
  src/pymor/algorithms/projection.py
  src/pymor/operators/basic.py
  src/pymortests/fixtures/operator.py
Labels: rb, sys-mor, type: new-feature

#789 allow time-dep operator or rhs in ParabolicRBReductor
  src/pymor/reductors/parabolic.py
  src/pymor/reductors/residual.py
  src/pymordemos/parabolic_mor.py
  src/pymortests/testdata/check_results/test_parabolic_mor_results/ca3b1109e5bd10d21b0b9bc432d6ac101cf1fa4d
Labels: rb, type: new-feature

#787 improve 'products' docstring of (In)StationaryModel
  src/pymor/models/basic.py
Labels: docs, type: fix

#791 Add rule to ProjectRules for the case that source_basis range basis are None
  src/pymor/algorithms/projection.py
Labels: implementation, rb, sys-mor, type: change

#790 Default to POD-Greedy for instationary problems
  src/pymor/algorithms/greedy.py
  src/pymordemos/parabolic_mor.py
Labels: rb, type: change

#755 Complex arithmetic for PDE solvers 2
  src/pymor/algorithms/genericsolvers.py
  src/pymor/algorithms/gram_schmidt.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/operators/basic.py
  src/pymor/vectorarrays/list.py
  src/pymordemos/thermalblock_simple.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/gram_schmidt.py
  src/pymortests/fixtures/vectorarray.py
  src/pymortests/vectorarray.py
Labels: bindings, generic-objects, type: new-feature

#795 [README] fix instructions for building docs
  README.md
Labels: docs, type: fix

#796 [README] fix instructions for building docs
  README.md
Labels: docs, type: fix

#797 [README] fix instructions for building docs
  README.md
Labels: docs, type: fix

#793 Use meshio for Gmsh file parsing
  dependencies.py
  requirements-optional.txt
  src/pymor/core/config.py
  src/pymor/core/exceptions.py
  src/pymor/domaindiscretizers/gmsh.py
  src/pymor/grids/gmsh.py
  src/pymortests/demos.py
Labels: builtin-models, implementation, type: change

#799 Catch TypeError in format_repr
  src/pymor/tools/formatrepr.py
Labels: implementation, type: fix

#800 Minor improvements to newton algorithm
  src/pymor/algorithms/newton.py
Labels: algorithms, type: change, type: new-feature

#802 Fix project call in ProjectedOperator.jacobian()
  src/pymor/operators/basic.py
Labels: generic-objects, type: fix

#804 Minor improvements to deim algorithm
  src/pymor/algorithms/ei.py
Labels: rb, type: new-feature

#805 Fix NGSolveVectorSpace.from_numpy
  src/pymor/bindings/ngsolve.py
Labels: bindings, type: fix

#803 Fix 'operator' property of EmpiricalInterpolatedOperator
  src/pymor/operators/ei.py
Labels: generic-objects, type: fix
