Repository pymor/pymor, pull requests merged in 2019-06, with the labels that each got.

#696 Remove all traces of 'extended' with_ functionality
  src/pymor/algorithms/rules.py
  src/pymor/analyticalproblems/instationary.py
  src/pymor/core/interfaces.py
  src/pymor/models/mpi.py
  src/pymor/operators/fv.py
Labels: implementation, type: removal

#701 [models.iosys] change H/dH to tf/dtf in TransferFunction
  src/pymor/models/iosys.py
Labels: builtin-models, sys-mor, type: change

#702 Add 'linear' attribute to StationaryModel and InstationaryModel
  src/pymor/models/basic.py
Labels: builtin-models, type: new-feature

#626 Parameterizing input-output models
  notebooks/parametric_delay.ipynb
  notebooks/parametric_heat.ipynb
  notebooks/parametric_string.ipynb
  notebooks/parametric_synthetic.ipynb
  src/pymor/algorithms/lradi.py
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymor/models/basic.py
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymor/reductors/sor_irka.py
Labels: sys-mor, type: change

#705 Add new_type argument to with_
  src/pymor/core/interfaces.py
  src/pymortests/core/interface.py
Labels: implementation, type: new-feature

#710 [vectorarrays.interfaces] make real and imag properties
  src/pymor/vectorarrays/interfaces.py
Labels: interfaces, type: fix

#706 Add generic __repr__ method to BasicInterface
  src/pymor/core/interfaces.py
  src/pymor/functions/basic.py
  src/pymor/grids/oned.py
  src/pymor/grids/rect.py
  src/pymor/grids/tria.py
  src/pymor/operators/numpy.py
  src/pymor/parameters/functionals.py
  src/pymor/parameters/spaces.py
  src/pymor/tools/formatrepr.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/numpy.py
Labels: type: new-feature

#714 Remove some more obsolete __repr__ methods
  src/pymor/domaindescriptions/basic.py
  src/pymor/domaindescriptions/polygonal.py
Labels: implementation, type: removal

#717 [algorithms.lyapunov] use numpy broadcasting in _chol
  src/pymor/algorithms/lyapunov.py
Labels: linear algebra, type: fix
