Repository pymor/pymor, pull requests merged in 2019-12, with the labels that each got.

#743 Low-rank updated operators and Sherman-Morrison-Woodbury formula
  src/pymor/algorithms/lincomb.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/operators/constructions.py
  src/pymortests/low_rank_op.py
  src/pymortests/to_matrix.py
Labels: algorithms, generic-objects, type: new-feature

#807 Refactor H2 reductors and related methods
  docs/source/substitutions.py
  notebooks/delay.ipynb
  notebooks/heat.ipynb
  notebooks/parametric_heat.ipynb
  src/pymor/algorithms/arnoldi.py
  src/pymor/algorithms/krylov.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymor/reductors/sor_irka.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
Labels: algorithms, sys-mor, type: change

#810 Fix LincombOperator.assemble in 0.5.x
  dependencies.py
  requirements-travis.txt
  src/pymor/operators/constructions.py
  src/pymortests/operators.py
Labels: generic-objects, type: fix

#819 Add support for nonlinear Operators in FEniCS bindings
  src/pymor/bindings/fenics.py
  src/pymor/core/config.py
  src/pymor/operators/mpi.py
  src/pymordemos/fenics_nonlinear.py
  src/pymortests/demos.py
  src/pymortests/fixtures/operator.py
Labels: bindings, type: new-feature

#825 Add method to reductors.h2 for clearing list attributes
  src/pymor/reductors/h2.py
  src/pymor/reductors/sor_irka.py
Labels: sys-mor, type: fix

#824 Fix NumpyVectorArray.__mul__ when other is a NumPy array
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: generic-objects, type: fix

#826 Release notes for 2019.2
  docs/source/release_notes.rst
Labels: docs

#831 [releasenotes] fix link to list of changes
  docs/source/release_notes.rst
Labels: docs, type: fix

#832 [releasenotes] fix link to list of changes
  docs/source/release_notes.rst
Labels: docs, type: fix

#833 Update Readme for 2019.2 release
  README.md
Labels: docs
