Repository pymor/pymor, pull requests merged in 2019-03, with the labels that each got.

#608 [mpi] small tweaks to make MPI wrapping more flexible
  src/pymor/models/mpi.py
  src/pymor/operators/mpi.py
Labels: generic-objects, type: new-feature

#611 [models.iosys] remove space id handling except for factory methods
  src/pymor/models/basic.py
  src/pymor/models/iosys.py
Labels: generic-objects, sys-mor, type: removal

#613 Remove VectorSpace id handling from projection methods
  .ci/azure/pipeline-osx.yml
  src/pymor/algorithms/projection.py
  src/pymor/models/iosys.py
  src/pymor/operators/basic.py
  src/pymor/operators/ei.py
  src/pymor/reductors/basic.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymordemos/delay.py
Labels: rb, sys-mor, type: removal

#612 Implement VectorArrayInterface.ones and VectorArrayInterface.full
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sor_irka.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: interfaces, type: new-feature

#614 Remove id from BlockVectorSpace
  src/pymor/operators/block.py
  src/pymor/vectorarrays/block.py
Labels: generic-objects, type: removal

#615 Remove 'space' parameter from as_vector
  src/pymor/algorithms/timestepping.py
  src/pymor/operators/interfaces.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/numpy.py
Labels: interfaces, type: change, type: removal

#616 [FEniCS] Ensure that amax and dofs behave correctly in the MPI discributed case
  src/pymor/bindings/fenics.py
Labels: bindings, type: fix

#617 Fixes and improvements in heat.ipynb
  notebooks/heat.ipynb
Labels: docs, sys-mor, type: fix

#618 Add 'random' method to VectorArrayInterface
  src/pymor/bindings/fenics.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: interfaces, type: new-feature

#621 Various sys-mor fixes
  notebooks/heat.ipynb
  notebooks/string.ipynb
  src/pymor/algorithms/lradi.py
  src/pymor/models/iosys.py
Labels: backport, docs, models, sys-mor, type: fix

#622 [ci] upload test logs and new check results
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: buildsystem, type: new-feature

#623 Backport fixes from #621
  notebooks/heat.ipynb
  notebooks/string.ipynb
  src/pymor/algorithms/lradi.py
  src/pymor/discretizations/iosys.py
Labels: docs, models, sys-mor, type: fix

#630 [ci] retry on gitlab runner failure
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: buildsystem, type: change

#625 Remove as_source/range_array in solve_sylv_schur
  src/pymor/algorithms/sylvester.py
Labels: backport, implementation, linear algebra, type: fix

#628 [0.5.x] Fix random sampling in adaptive_greedy
  src/pymor/algorithms/adaptivegreedy.py
  src/pymortests/testdata/check_results/test_thermalblock_results/ea8f66e263715fd0185d0dd23ab6d57feb6ee898
Labels: backport, rb, type: fix

#620 introduce global default RandomState
  docs/source/getting_started.rst
  src/pymor/basic.py
  src/pymor/parallel/ipython.py
  src/pymor/parallel/mpi.py
  src/pymor/parameters/spaces.py
  src/pymor/tools/random.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/demos.py
  src/pymortests/testdata/check_results/test_thermalblock_results/ea8f66e263715fd0185d0dd23ab6d57feb6ee898
Labels: interfaces, type: change

#631 [0.5.x] Backport #625
  src/pymor/algorithms/sylvester.py
Labels: backport, implementation, linear algebra, type: fix

#627 Fix as_source_array/as_range_array for BlockRowOperator/BlockColumnOperator
  src/pymor/operators/block.py
Labels: generic-objects, type: fix

#633 Remove DiskVectorArray
  graveyard/disk.py
Labels: generic-objects, type: removal

#632 Use VectorArrayInterface.random where possible
  src/pymor/algorithms/lradi.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/sor_irka.py
Labels: implementation, type: change

#640 Ignore demo output files
  .gitignore
Labels: management, type: change

#619 Move all backend-agnostic assemble_lincomb logic to algorithms.lincomb
  docs/source/technical_overview.rst
  src/pymor/algorithms/lincomb.py
  src/pymor/algorithms/rules.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/operators/block.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interfaces.py
  src/pymor/operators/mpi.py
  src/pymor/operators/numpy.py
  src/pymor/playground/operators/numpy.py
  src/pymortests/complex_values.py
  src/pymortests/operators.py
Labels: generic-objects, implementation, interfaces, type: change, type: new-feature

#641 Remove some quirks for old numpy versions
  dependencies.py
  pyproject.toml
  requirements.txt
  src/pymor/core/__init__.py
  src/pymor/operators/constructions.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/interfaces.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: implementation, type: removal

#638 [algorithms.lradi] Remove options for ADI iteration shift parameters
  src/pymor/algorithms/lradi.py
Labels: linear algebra, type: removal

#644 Replace numpy.linalg.solve by scipy.linalg.solve
  src/pymor/algorithms/ei.py
  src/pymor/operators/ei.py
  src/pymor/operators/numpy.py
Labels: implementation, linear algebra, type: change

#634 [algorithms.lradi] Improve shift parameters for low-rank ADI iteration
  AUTHORS.md
  src/pymor/algorithms/lradi.py
Labels: linear algebra, type: change

#648 Remove state_space in input-output system classes
  notebooks/delay.ipynb
  src/pymor/models/iosys.py
  src/pymor/reductors/interpolation.py
Labels: interfaces, sys-mor, type: removal

#649 Logger change for IRKA and related methods
  src/pymor/reductors/h2.py
  src/pymor/reductors/sor_irka.py
Labels: sys-mor, type: change

#650 Docs fixes in models.iosys
  src/pymor/models/iosys.py
Labels: docs, sys-mor, type: fix

#651 Fix reconstruct method in sys-mor reductors
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymor/reductors/sor_irka.py
Labels: sys-mor, type: fix

#654 Sphinx warning fixes
  docs/source/substitutions.py
  src/pymor/models/iosys.py
  src/pymor/reductors/basic.py
  src/pymor/vectorarrays/interfaces.py
Labels: docs, type: fix

#655 [models.iosys] fix operator concatenation in __mul__
  src/pymor/models/iosys.py
Labels: backport, builtin-models, sys-mor, type: fix

#656 sys-mor API changes
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
Labels: interfaces, sys-mor, type: change

#658 Arithmetic operations for LinearDelayModel
  notebooks/delay.ipynb
  src/pymor/models/iosys.py
Labels: builtin-models, sys-mor, type: new-feature

#660 [models.iosys] add assumptions methods make
  src/pymor/models/iosys.py
Labels: docs, sys-mor, type: change

#661 [sys-mor] various reductor improvements
  notebooks/delay.ipynb
  notebooks/heat.ipynb
  notebooks/string.ipynb
  src/pymor/basic.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymor/reductors/sor_irka.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/string_equation.py
Labels: sys-mor, type: change

#657 Transfer function h2_norm
  notebooks/heat.ipynb
  src/pymor/models/iosys.py
Labels: builtin-models, sys-mor, type: new-feature
