Repository pymor/pymor, pull requests merged in 2019-02, with the labels that each got.

#577 Gram-Schmidt with R
  src/pymor/algorithms/gram_schmidt.py
  src/pymortests/algorithms/gram_schmidt.py
Labels: linear algebra, type: new-feature

#578 Rename system attributes n, m, p
  notebooks/heat.ipynb
  notebooks/string.ipynb
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sobt.py
  src/pymor/reductors/sor_irka.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/string_equation.py
Labels: interfaces, sys-mor, type: change

#584 Simply implementation of RuleTable
  src/pymor/algorithms/rules.py
Labels: implementation, type: change

#585 implement MPIOperator.apply_inverse_adjoint
  src/pymor/operators/mpi.py
Labels: generic-objects, type: new-feature

#586 explicitly set cython language_level in each file
  src/pymor/grids/_unstructured.pyx
  src/pymor/tools/inplace.pyx
  src/pymor/tools/relations.pyx
Labels: buildsystem, type: change

#588 [README] add PyPI badges
  README.md
Labels: docs, management, type: new-feature

#590 Notebooks and demos improvements
  notebooks/heat.ipynb
  notebooks/string.ipynb
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/string_equation.py
Labels: docs, type: change

#593 [demos] fix broken qt app launching in thermalblock_gui demo
  src/pymordemos/thermalblock_gui.py
Labels: backport, bug, type: fix

#594 Fix thermalblock_gui demo not starting
  src/pymordemos/thermalblock_gui.py
Labels: type: fix

#603 add badges for gitlab + azure pipelines
  README.md
Labels: buildsystem, type: new-feature

#592 Simplify Reductors and Models
  notebooks/delay.ipynb
  src/pymor/algorithms/ei.py
  src/pymor/algorithms/error.py
  src/pymor/basic.py
  src/pymor/discretizers/cg.py
  src/pymor/models/basic.py
  src/pymor/models/interfaces.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/reductors/basic.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/parabolic.py
  src/pymor/reductors/sobt.py
  src/pymordemos/analyze_pickle.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_simple.py
Labels: interfaces, rb, sys-mor, type: change

#606 [discretizations] remove broken LinearDelaySystem, LinearStochasticSystem, BilinearSystem
  src/pymor/discretizations/iosys.py
  src/pymor/reductors/interpolation.py
Labels: backport, bug, generic-objects, sys-mor, type: fix, type: removal
