Repository pymor/pymor, pull requests merged in 2019-04, with the labels that each got.

#663 [NumpyVectorSpace] fix issue 662
  src/pymor/vectorarrays/numpy.py
Labels: type: fix

#659 fix typo in README.md
  README.md
Labels: docs, type: fix

#673 Gitlab-ci now builds manylinux 2010 wheels also
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .ci/gitlab/wheels.bash
Labels: buildsystem

#669 Gram_schmidt algorithm discards complex values in the R matrix.
  src/pymor/algorithms/gram_schmidt.py
Labels: linear algebra, type: fix

#668 Fixed complex norms
  AUTHORS.md
  src/pymor/vectorarrays/interfaces.py
Labels: interfaces, type: fix

#676 [ProjectionBasedReductor] fix projection onto subbasis
  src/pymor/reductors/basic.py
Labels: implementation, rb, type: fix
