Repository pymor/pymor, pull requests merged in 2019-05, with the labels that each got.

#665 adding randomized algorithms
  AUTHORS.md
  dependencies.py
  docs/source/bibliography.rst
  requirements-optional.txt
  src/pymor/algorithms/randrangefinder.py
  src/pymortests/randrangefinder.py
Labels: linear algebra, type: new-feature

#687 Discretizing robin boundary conditions on a RectGrid
  src/pymor/discretizers/cg.py
  src/pymor/operators/cg.py
Labels: builtin-models, type: new-feature

#690 Fix lincomb of IdentityOperator and NumpyMatrixOperator
  src/pymor/algorithms/lincomb.py
  src/pymor/operators/numpy.py
  src/pymortests/operators.py
Labels: generic-objects, implementation, type: fix

#691 Remove 'order' arguments from CG operators
  src/pymor/discretizers/cg.py
  src/pymor/operators/cg.py
Labels: builtin-models, type: removal

#693 [parameters.functionals] implement __neg__
  src/pymor/parameters/functionals.py
  src/pymor/parameters/interfaces.py
Labels: generic-objects, type: fix

#694 Ensure that with_ works for all immutable objects
  src/pymor/algorithms/lincomb.py
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/basic.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/core/interfaces.py
  src/pymor/domaindiscretizers/default.py
  src/pymor/functions/basic.py
  src/pymor/functions/bitmap.py
  src/pymor/grids/boundaryinfos.py
  src/pymor/grids/gmsh.py
  src/pymor/grids/interfaces.py
  src/pymor/grids/oned.py
  src/pymor/grids/subgrid.py
  src/pymor/grids/unstructured.py
  src/pymor/gui/matplotlib.py
  src/pymor/models/iosys.py
  src/pymor/operators/block.py
  src/pymor/operators/cg.py
  src/pymor/operators/constructions.py
  src/pymor/operators/ei.py
  src/pymor/operators/fv.py
  src/pymor/operators/mpi.py
  src/pymor/operators/numpy.py
  src/pymor/parameters/functionals.py
  src/pymor/parameters/spaces.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/fixtures/grid.py
Labels: implementation, type: fix
