Repository pymor/pymor, pull requests merged in 2019-09, with the labels that each got.

#760 [discretizers.cg] affine decomposition of robin operator and rhs functionals
  AUTHORS.md
  src/pymor/discretizers/cg.py
Labels: builtin-models, type: new-feature

#757 Refactor greedy algorithms
  docs/source/bibliography.rst
  docs/source/getting_started.rst
  src/pymor/algorithms/adaptivegreedy.py
  src/pymor/algorithms/greedy.py
  src/pymor/basic.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_adaptive.py
  src/pymordemos/thermalblock_gui.py
  src/pymordemos/thermalblock_simple.py
Labels: rb, type: change

#763 Fix OperatorBase.d_mu
  src/pymor/operators/basic.py
  src/pymor/parameters/functionals.py
Labels: generic-objects, type: fix
