Repository pymor/pymor, pull requests merged in 2019-01, with the labels that each got.

#557 Fixing flake8 W605
  versioneer.py
Labels: backport, type: fix

#559 fix arnoldi when E is not identity
  src/pymor/algorithms/arnoldi.py
Labels: backport, linear algebra, type: fix

#569 Fix NonProjectedResidualOperator.apply
  src/pymor/reductors/residual.py
Labels: backport, rb, type: fix

#566 Residual bugfix [0.4.x]
  src/pymor/algorithms/image.py
  src/pymor/reductors/residual.py
Labels: backport, type: fix
