Repository pymor/pymor, pull requests merged in 2020-08, with the labels that each got.

#1038 [algorithms] made logging output of Newton and line search more consi…
  src/pymor/algorithms/line_search.py
  src/pymor/algorithms/newton.py
Labels: automerge, pr:fix

#994 Remove S parameter from Riccati equation solvers
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymortests/riccati.py
Labels: pr:removal

#1008 Energy product in elliptic discretizer (Continuation)
  AUTHORS.md
  src/pymor/discretizers/builtin/cg.py
  src/pymordemos/elliptic2.py
  src/pymortests/demos.py
Labels: pr:new-feature

#1051 Add Bode plot
  docs/source/tutorial_bt.rst
  src/pymor/models/iosys.py
Labels: pr:new-feature

#1044 Restructuring of grid classes
  docs/source/substitutions.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/defaultimpl.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/discretizers/builtin/grids/oned.py
  src/pymor/discretizers/builtin/grids/rect.py
  src/pymor/discretizers/builtin/grids/subgrid.py
  src/pymor/discretizers/builtin/grids/tria.py
  src/pymor/discretizers/builtin/grids/unstructured.py
Labels: pr:removal

#1066 Deprecate dot/pairwise_dot in favor of inner/pairwise_inner
  docs/source/minimal_cpp_demo/model.cc
  docs/source/minimal_cpp_demo/model.hh
  docs/source/tutorial_external_solver.rst
  src/pymor/algorithms/genericsolvers.py
  src/pymor/algorithms/line_search.py
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/samdp.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interface.py
  src/pymor/operators/mpi.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/residual.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/mpi.py
  src/pymor/vectorarrays/numpy.py
  src/pymordemos/minimal_cpp_demo/model.cc
  src/pymordemos/minimal_cpp_demo/model.hh
  src/pymordemos/minimal_cpp_demo/wrapper.py
  src/pymortests/algorithms/gram_schmidt.py
  src/pymortests/complex_values.py
  src/pymortests/operators.py
  src/pymortests/vectorarray.py
Labels: pr:deprecation

#1069 [parameters] prevent a wrong user input for derivative_expressions
  src/pymor/parameters/functionals.py
Labels: pr:change

#1070 Remove l1_norm from VectorArrayInterface
  docs/source/tutorial_external_solver.rst
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/mpi.py
  src/pymor/vectorarrays/numpy.py
  src/pymordemos/minimal_cpp_demo/wrapper.py
  src/pymortests/algorithms/basic.py
  src/pymortests/vectorarray.py
Labels: pr:removal

#1046 Append Operator to LinearAdvectionLaxFriedrichs, Concatenation and ComponentProjection
  docs/source/release_notes.rst
  docs/source/substitutions.py
  src/pymor/algorithms/image.py
  src/pymor/algorithms/preassemble.py
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/basic.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/list.py
  src/pymor/operators/constructions.py
  src/pymor/operators/ei.py
  src/pymor/operators/interface.py
  src/pymor/reductors/basic.py
  src/pymortests/fixtures/operator.py
  src/pymortests/to_matrix.py
Labels: pr:change

#1072 [ci] use new pip resolver for installs
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/test_pip_installed.bash
Labels: automerge, infrastructure, pr:change

#1068 Make VectorArrays iterable
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: pr:new-feature

#1073 [make] facilitate using compose with sudo
  .binder/docker-compose.yml
  Makefile
  README.md
Labels: infrastructure, pr:new-feature

#1074 FEniCS change default linear solver to MUMPS
  src/pymor/bindings/fenics.py
  src/pymortests/testdata/check_results/test_thermalblock_results/29e5f263a02a275f4d29b7e5bdf32ad20c1e6346
Labels: pr:change
