Repository pymor/pymor, pull requests merged in 2020-07, with the labels that each got.

#952 add BaseMaxThetaParameterFunctional to generalize max-theta approach
  AUTHORS.md
  src/pymor/parameters/functionals.py
  src/pymortests/min_max_theta_functionals.py
Labels: rb, type: new-feature

#979 update release checklist
  docs/RELEASE_CHECKLIST.md
Labels: automerge

#981 update release checklist
  docs/RELEASE_CHECKLIST.md
Labels: automerge

#992 Remove code for unsupported SciPy versions
  src/pymor/bindings/scipy.py
Labels: type: removal

#997 Enforce PR label usage
  .github/workflows/enforce-labels.yml
Labels: infrastructure, management, pr:new-feature

#996 Update Authors
  AUTHORS.md
Labels: management, pr:new-feature

#998 Ensure that Parameters and Mu instances are always ordered alphabetically
  src/pymor/__init__.py
  src/pymor/core/cache.py
  src/pymor/parameters/base.py
  src/pymor/tools/frozendict.py
Labels: pr:change

#985 Mention PDE solvers versions used to test the bindings in README.md
  README.md
Labels: pr:new-feature

#999 CI binder trigger hotfix
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: automerge, infrastructure, pr:fix

#983 Tutorial 1 minor fixes
  docs/source/tutorial01.rst
Labels: pr:fix

#980 Set gram_schmidt tolerances in POD to 0 to never truncate pod modes
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  src/pymor/algorithms/pod.py
Labels: pr:fix

#1005 Mem limit for docker tests
  .binder/docker-compose.yml
Labels: automerge, infrastructure, pr:new-feature

#1012 Change POD default rtol and fix analyze_pickle demo for numpy master
  .binder/Dockerfile
  .ci/gitlab/ci.yml
  .ci/gitlab/test_pip_installed.bash
  .env
  src/pymor/algorithms/pod.py
  src/pymor/algorithms/svd_va.py
  src/pymordemos/analyze_pickle.py
  src/pymortests/algorithms/basic.py
  src/pymortests/strategies.py
Labels: pr:change, pr:fix

#1016 [docs] add a common init template for jupyter tuts
  docs/source/jupyter_init.txt
  docs/source/tutorial01.rst
  docs/source/tutorial_mor_with_anns.rst
Labels: pr:new-feature

#1015 refactor demo test xfails
  src/pymortests/demos.py
Labels: pr:change

#1013 Add tutorial on how to build a reduced basis
  docs/source/bibliography.rst
  docs/source/index.rst
  docs/source/tutorial-rb.rst
Labels: pr:new-feature

#984 Balanced truncation tutorial
  docs/source/index.rst
  docs/source/tutorial_bt.rst
Labels: pr:new-feature

#1018 tighter timeout for dind jobs + restrict restarts to system failures
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: pr:change

#1006 update NGSolve to v6.2.2006
  .binder/Dockerfile
  .ci/gitlab/ci.yml
  .env
  README.md
Labels: infrastructure, pr:change

#1021 Restructure tutorials
  docs/source/getting_started.rst
  docs/source/index.rst
  docs/source/tutorial_basis_generation.rst
  docs/source/tutorial_bt.rst
  docs/source/tutorial_builtin_discretizer.rst
  docs/source/tutorial_external_solver.rst
  docs/source/tutorial_mor_with_anns.rst
  docs/source/tutorials.rst
Labels: pr:change

#1025 Add paragraph on ANNs to release notes
  docs/source/release_notes.rst
Labels: pr:new-feature

#1023 Documentation for 2020.1 Release
  docs/source/getting_started.rst
Labels: pr:fix

#1022 Release notes for 2020.1
  docs/source/release_notes.rst
  docs/source/substitutions.py
  docs/source/tutorial_basis_generation.rst
Labels: pr:new-feature

#1031 update checklist after 2020.1.1 release
  docs/RELEASE_CHECKLIST.md
Labels: automerge, management, pr:change

#1037 Fix of Newton error output
  src/pymor/algorithms/line_search.py
  src/pymor/algorithms/newton.py
Labels: backport, pr:fix
