Repository pymor/pymor, pull requests merged in 2020-02, with the labels that each got.

#867 Merge FunctionBase into Function
  src/pymor/analyticalproblems/functions.py
Labels: implementation, type: removal

#868 Ensure that ParameterType.__str__ is always ordered alphabetically
  src/pymor/parameters/base.py
Labels: implementation, type: fix

#872 Fix issue #835
  src/pymor/core/config.py
Labels: type: fix

#873 Fix issue #836
  src/pymor-demo
Labels: implementation, type: change
