Repository pymor/pymor, pull requests merged in 2020-12, with the labels that each got.

#1195 switch automerge to create merge commits
  .github/auto-merge.yml
Labels: automerge, infrastructure, pr:change

#1194 fix issue 1193
  .binder/docker-compose.yml
Labels: automerge, infrastructure, pr:fix

#1153 Azure ci update
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/azure/pymor_defaults.py_osx
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymortests/affine_grid.py
  src/pymortests/core/cache.py
  src/pymortests/demos.py
Labels: automerge, infrastructure, pr:change

#1200 Update mailmap before the 2020.2 release
  .mailmap
Labels: pr:change

#1202 fix "oldest" CI job
  .ci/gitlab/test_oldest.bash
Labels: automerge, infrastructure, pr:fix

#1198 Improve sys-mor demos
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/parametric_delay.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/parametric_synthetic.py
  src/pymordemos/string_equation.py
  src/pymortests/demos.py
Labels: pr:change

#1199 [ci] do not make automerge a displayed check
  .github/auto-merge.yml
Labels: automerge, infrastructure, pr:fix

#1208 Remove mailing list mentions
  CONTRIBUTING.md
  docs/RELEASE_CHECKLIST.md
  docs/source/getting_started.rst
  setup.py
Labels: infrastructure, management, pr:fix

#1110 Towards linear optimization (dual problem, sensitivity problem, output gradient)
  AUTHORS.md
  docs/source/bibliography.rst
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/operators/block.py
  src/pymordemos/linear_optimization.py
  src/pymortests/demos.py
  src/pymortests/mu_derivatives.py
Labels: pr:new-feature

#1210 Added missing parameters for Matplotlib1DWidget
  src/pymor/discretizers/builtin/gui/qt.py
Labels: pr:fix

#1217 [ci] debian bullseye now defaults to python 3.9
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  dependencies.py
  requirements-optional.txt
Labels: automerge, infrastructure, pr:fix

#1205 Tutorial for optimization
  .ci/azure/pipeline-win.yml
  docs/source/try_on_binder.py
  docs/source/tutorial_optimization.rst
  docs/source/tutorials.rst
Labels: pr:new-feature

#1197 Developer docs
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_cpp_demo.bash
  .env
  .gitignore
  README.md
  docs/source/developer_docs.rst
  docs/source/index.rst
Labels: automerge, pr:new-feature

#1220 [docs] Update of section on ANNs in release notes
  docs/source/release_notes/2020.2.rst
Labels: pr:change

#1219 [docs] releasenotes: more details on 1110
  docs/source/release_notes/2020.2.rst
Labels: pr:change

#1201 add topics for 2020.2 release notes
  docs/source/index.rst
  docs/source/release_notes.rst
  docs/source/release_notes/0.3.rst
  docs/source/release_notes/0.4.rst
  docs/source/release_notes/0.5.rst
  docs/source/release_notes/2019.2.rst
  docs/source/release_notes/2020.1.rst
  docs/source/release_notes/2020.2.rst
  docs/source/release_notes/all.rst
Labels: automerge, pr:new-feature

#1221 [ci] bump images for updated petsc
  .ci/gitlab/ci.yml
  .env
Labels: pr:change

#1224 change all branch references from master to main
  .ci/gitlab/ci.yml
  .ci/gitlab/ci_sanity_check.bash
  .ci/gitlab/deploy_docs.bash
  .ci/gitlab/docs_makeindex.py
  .ci/gitlab/template.ci.py
  CONTRIBUTING.md
  README.md
  docs/RELEASE_CHECKLIST.md
  docs/source/conf.py
  docs/source/developer_docs.rst
  docs/source/release_notes/0.4.rst
  docs/source/release_notes/0.5.rst
  docs/source/release_notes/2019.2.rst
  docs/source/release_notes/2020.1.rst
  docs/source/release_notes/2020.2.rst
  docs/source/try_on_binder.py
Labels: management, pr:change

#1226 [ci] move azure setup to proper subdir
  .ci/azure/azure-pipelines.yml
Labels: automerge, pr:change

#1225 remove all code marked deprecated in the previous release
  .ci/azure/azure-pipelines.yml
  docs/RELEASE_CHECKLIST.md
  src/pymor/basic.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/operators/constructions.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/parabolic.py
  src/pymor/vectorarrays/interface.py
  src/pymordemos/analyze_pickle.py
  src/pymordemos/neural_networks_instationary.py
Labels: automerge, pr:change
