Repository pymor/pymor, pull requests merged in 2020-11, with the labels that each got.

#1143 Replace time.time with time.perf_counter
  docs/source/tutorial_mor_with_anns.rst
  src/pymor/algorithms/adaptivegreedy.py
  src/pymor/algorithms/error.py
  src/pymor/algorithms/greedy.py
  src/pymor/core/logger.py
  src/pymor/discretizers/builtin/domaindiscretizers/gmsh.py
  src/pymor/discretizers/builtin/grids/gmsh.py
  src/pymor/tools/timing.py
  src/pymordemos/analyze_pickle.py
  src/pymordemos/burgers.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/fenics_nonlinear.py
  src/pymordemos/hapod.py
  src/pymordemos/neural_networks.py
  src/pymordemos/neural_networks_fenics.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_gui.py
Labels: pr:change

#1137 Always initialize mass and rhs attributes of InstationaryModel
  src/pymor/models/basic.py
  src/pymor/reductors/basic.py
  src/pymor/reductors/residual.py
Labels: pr:change

#1139 Implement as_source_array/as_range_array for sparse NumpyMatrixOperators
  src/pymor/operators/interface.py
  src/pymor/operators/numpy.py
  src/pymortests/operators.py
Labels: pr:new-feature

#1120 Neural networks for instationary problems
  AUTHORS.md
  docs/source/bibliography.rst
  src/pymor/models/neural_network.py
  src/pymor/reductors/neural_network.py
  src/pymordemos/neural_networks_instationary.py
  src/pymortests/demos.py
Labels: pr:new-feature

#1148 [ci] remove runner tag restriction for wheel builder
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: automerge, infrastructure, pr:change

#1144 Simplify __sub__ for iosys models, check D operator in h2_norm
  src/pymor/models/iosys.py
Labels: pr:change

#1157 [ci] switch to gitlab registry images
  .binder/Dockerfile
  .ci/gitlab/ci.yml
  .ci/gitlab/ci_sanity_check.bash
  .ci/gitlab/template.ci.py
  .env
  docs/RELEASE_CHECKLIST.md
Labels: automerge, infrastructure

#1158 [ci] move more jobs onto autoscaled machines
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: automerge

#1156 [algorithms.samdp] check for complex eigenvalue before RQI
  src/pymor/algorithms/samdp.py
Labels: pr:fix

#1154 Increase gram_schmidt default reiteration_tol to 9e-1
  src/pymor/algorithms/gram_schmidt.py
Labels: pr:change

#1161 don't pull d-in-d image from dockerhub
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: automerge, pr:fix

#1118 Use typer in demo scripts
  dependencies.py
  requirements-optional.txt
  requirements.txt
  setup.cfg
  src/pymor/core/config.py
  src/pymor/tools/typer.py
  src/pymordemos/analyze_pickle.py
  src/pymordemos/burgers.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/delay.py
  src/pymordemos/elliptic.py
  src/pymordemos/elliptic2.py
  src/pymordemos/elliptic_oned.py
  src/pymordemos/elliptic_unstructured.py
  src/pymordemos/fenics_nonlinear.py
  src/pymordemos/hapod.py
  src/pymordemos/heat.py
  src/pymordemos/neural_networks.py
  src/pymordemos/neural_networks_fenics.py
  src/pymordemos/neural_networks_instationary.py
  src/pymordemos/parabolic.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/string_equation.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_adaptive.py
  src/pymordemos/thermalblock_gui.py
  src/pymordemos/thermalblock_simple.py
  src/pymortests/demos.py
  src/pymortests/mpi_run_demo_tests.py
  src/pymortests/testdata/check_results/test_thermalblock_results/38a8bfe939551df7383a6058a2862fb9d2eea5a4
  src/pymortests/testdata/check_results/test_thermalblock_results/60f38cd8ac4c21f2c30fafbec18e36e74a42a0be
Labels: infrastructure, pr:change

#1165 [analyticalproblems] fix Thermalblock docs
  src/pymor/analyticalproblems/thermalblock.py
Labels: automerge, pr:fix

#1160 remove notebooks dir
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_notebooks_dir.bash
  notebooks/.gitignore
  notebooks/README.md
  notebooks/delay.ipynb
  notebooks/elliptic.ipynb
  notebooks/elliptic_oned.ipynb
  notebooks/heat.ipynb
  notebooks/parametric_delay.ipynb
  notebooks/parametric_heat.ipynb
  notebooks/parametric_string.ipynb
  notebooks/parametric_synthetic.ipynb
  notebooks/string.ipynb
  notebooks/test.py
  notebooks/test_visualization.ipynb
  src/pymordemos/parametric_delay.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/parametric_synthetic.py
Labels: automerge, infrastructure, pr:removal

#1168 [ci] switch automerge from github action to probot app
  .github/auto-merge.yml
  .github/workflows/automerge.yml
Labels: automerge, infrastructure, pr:change

#1171 [discretizers.builtin] allow to set the aspect ratio in matplotlib plots
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
Labels: pr:change

#1170 [gui] refactor gl buffer dtype to prevent futurewarning
  src/pymor/discretizers/builtin/gui/gl.py
Labels: pr:fix

#1175 Randomly shuffle training data before splitting
  src/pymor/reductors/neural_network.py
Labels: pr:new-feature

#1172 Allow to change aspect ratios of matplotlib plots
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
Labels: pr:change

#1180 Never return more modes then VectorArray dimension in method_of_snapshots
  src/pymor/algorithms/svd_va.py
  src/pymortests/algorithms/svd_va.py
Labels: pr:change

#1183 [demos|tb_gui] fix missing args in panels
  src/pymordemos/thermalblock_gui.py
Labels: pr:fix

#1186 [deps] blacklist broken Qt version
  .binder/Dockerfile
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-ci.txt
  requirements-optional.txt
Labels: automerge, infrastructure, pr:fix

#1181 Try on binder
  .binder/Dockerfile
  .binder/Dockerfile.in
  .binder/dev-entrypoint.bash
  .binder/docker-compose.yml
  .ci/gitlab/Dockerfile.binder.base
  .ci/gitlab/Dockerfile.binder.tocopy
  .ci/gitlab/ci.yml
  .ci/gitlab/deploy_docs.bash
  .ci/gitlab/template.ci.py
  Makefile
  dependencies.py
  docs/source/conf.py
  docs/source/jupyter_init.txt
  docs/source/try_on_binder.py
  docs/source/tutorial_basis_generation.rst
  requirements-optional.txt
Labels: infrastructure, pr:new-feature

#1185 [docs.sphinx] also add :private-members:
  docs/source/conf.py
  docs/source/gen_apidoc.py
  src/pymor/core/base.py
Labels: pr:change

#1141 Restructure sys-mor tutorial
  docs/source/heat_equation.txt
  docs/source/tutorial_bt.rst
  docs/source/tutorial_lti_systems.rst
  docs/source/tutorials.rst
  src/pymor/models/iosys.py
  src/pymor/reductors/interpolation.py
Labels: pr:change

#1128 [ci] test on python 3.9
  .ci/gitlab/ci.yml
  .ci/gitlab/ci_sanity_check.bash
  .ci/gitlab/template.ci.py
  .env
  dependencies.py
  docs/source/environment.rst
  docs/test_tutorials.py
  pyproject.toml
  requirements-optional.txt
  requirements.txt
  setup.py
  src/pymor/__init__.py
  src/pymortests/demos.py
Labels: infrastructure, pr:new-feature
