Repository pymor/pymor, pull requests merged in 2020-06, with the labels that each got.

#938 Fix order of parameters in thermalblock_problem
  src/pymor/analyticalproblems/thermalblock.py
Labels: builtin-models, type: change

#940 Remove the playground package and the graveyard directory
  graveyard/.gitignore
  graveyard/disk.py
  setup.cfg
  src/pymor/playground/__init__.py
  src/pymor/playground/core/__init__.py
  src/pymor/playground/core/network_cache.py
  src/pymor/playground/functions/__init__.py
  src/pymor/playground/functions/expression_function.py
  src/pymor/playground/vectorarrays/__init__.py
  src/pymor/playground/vectorarrays/mpi.py
  src/pymortests/playground.py
Labels: type: removal

#880 [algorithms.eigs] add implicitly restarted arnoldi method
  AUTHORS.md
  docs/source/bibliography.rst
  src/pymor/algorithms/eigs.py
  src/pymortests/algorithms/eigs.py
Labels: algorithms, type: new-feature

#942 Fix #920
  src/pymortests/demos.py
Labels: automerge, testing

#941 Add initial_guess parameter to apply_inverse
  src/pymor/algorithms/genericsolvers.py
  src/pymor/algorithms/timestepping.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/bindings/pyamg.py
  src/pymor/bindings/scipy.py
  src/pymor/operators/block.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interface.py
  src/pymor/operators/list.py
  src/pymor/operators/mpi.py
  src/pymor/operators/numpy.py
  src/pymortests/fixtures/operator.py
Labels: interfaces, type: new-feature

#945 Simplify debugging of RuleTables
  src/pymor/algorithms/rules.py
Labels: implementation, type: new-feature

#949 Add Parameters.dim and Mu.to_numpy
  src/pymor/parameters/base.py
Labels: generic-objects, type: new-feature

#950 [parameters/functionals] Add LincombParameterFunctional
  AUTHORS.md
  src/pymor/parameters/functionals.py
  src/pymortests/parameter_functionals.py
Labels: generic-objects, type: new-feature

#948 BlockVectorArray fix for empty subspaces
  src/pymor/vectorarrays/block.py
Labels: implementation, type: change

#943 [logger] adds a ctx manager that restores effective level on exit
  src/pymor/core/logger.py
  src/pymortests/core/logger.py
Labels: automerge, implementation, type: new-feature

#934 [parameters/functionals] Add derivative of products
  AUTHORS.md
  src/pymor/parameters/functionals.py
  src/pymortests/mu_derivatives.py
Labels: generic-objects, type: new-feature

#956 Add norm of update vector as error measure in Newton algorithm
  src/pymor/algorithms/newton.py
  src/pymor/operators/interface.py
  src/pymortests/algorithms/stuff.py
Labels: algorithms, type: new-feature

#963 fix typos
  src/pymor/vectorarrays/interface.py
Labels: automerge

#970 [parameters] Fix a serious bug in Parameters.parse()
  src/pymor/parameters/base.py
  src/pymortests/parameters.py
Labels: implementation, type: fix
