Repository pymor/pymor, pull requests merged in 2020-10, with the labels that each got.

#1112 decompose output functional in discretizer
  src/pymor/discretizers/builtin/cg.py
Labels: automerge, pr:new-feature

#1107 Backport vis/docs fixes from master
  docs/source/conf.py
Labels: automerge, pr:fix

#1114 Added favicon to documentation
  docs/source/conf.py
  logo/pymor_favicon.png
Labels: pr:new-feature

#1004 Refactor builtin cg discretizer
  src/pymor/discretizers/builtin/cg.py
Labels: pr:change

#1116 weaken cmp tol for test_axpy_one_x
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:fix

#1117 (re-)add coverage badge
  README.md
Labels: pr:change

#1113 add compute() to Model
  docs/source/tutorial_projection.rst
  src/pymor/algorithms/error.py
  src/pymor/algorithms/greedy.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/models/neural_network.py
  src/pymordemos/analyze_pickle.py
Labels: pr:change

#1124 fix __str__ of RectGrid
  src/pymor/discretizers/builtin/grids/rect.py
Labels: automerge, pr:fix

#1130 Added possibility to download the code in Tutorial for ANNs
  docs/source/tutorial_mor_with_anns.rst
Labels: automerge, pr:fix
