Repository pymor/pymor, pull requests merged in 2020-04, with the labels that each got.

#905 Add from_files method to SecondOrderModel
  src/pymor/models/iosys.py
Labels: generic-objects, type: new-feature

#901 Recommend installing pymess from source
  README.md
  dependencies.py
Labels: docs, type: fix

#904 Mention installation via conda in README.md
  README.md
Labels: docs

#907 [ci] add a github action to replace the external buildozer app
  .github/workflows/automerge.yml
Labels: buildsystem

#909 set min ipyparallel version for py 3.8 compat
  .binder/Dockerfile
  .ci/CI_IMAGE_TAG
  .ci/PYPI_MIRROR_TAG
  .ci/gitlab/ci.yml
  dependencies.py
  requirements-optional.txt
  src/pymortests/demos.py
Labels: automerge

#834 [algorithms.samdp] add samdp algorithm
  AUTHORS.md
  docs/source/bibliography.rst
  src/pymor/algorithms/samdp.py
  src/pymortests/algorithms/samdp.py
Labels: algorithms, type: new-feature

#912 Rename RemoteObject to GenericRemoteObject
  src/pymor/parallel/basic.py
Labels: implementation, type: change

#913 Add a warning to not instantiate NumpyVectorArray directly.
  src/pymor/vectorarrays/numpy.py
Labels: docs
