Repository pymor/pymor, pull requests merged in 2020-05, with the labels that each got.

#916 [ci] pin wheel building to amm runner
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: automerge

#919 [reductors.coercive] remove unneccessary initialization in SimpleCoerciveReductor
  src/pymor/reductors/coercive.py
Labels: rb, type: fix

#931 "Officially" support python 3.8
  setup.py
Labels: automerge, buildsystem
