Repository pymor/pymor, pull requests merged in 2021-09, with the labels that each got.

#1375 Disable torch tests on windows azure
  src/pymortests/demos.py
Labels: pr:change

#1377 fix some typos
  src/pymor/algorithms/adaptivegreedy.py
  src/pymor/algorithms/ei.py
  src/pymor/algorithms/greedy.py
  src/pymor/algorithms/hapod.py
  src/pymor/algorithms/timestepping.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/core/exceptions.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/discretizers/builtin/grids/referenceelements.py
  src/pymor/discretizers/builtin/grids/subgrid.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/models/iosys.py
  src/pymor/operators/interface.py
  src/pymor/operators/mpi.py
  src/pymor/vectorarrays/interface.py
  src/pymor/version.py
  src/pymordemos/thermalblock_adaptive.py
Labels: pr:fix

#1149 add methods for unstable LTIModels
  docs/source/bibliography.bib
  docs/source/tutorial_unstable_lti_systems.md
  docs/source/tutorials.rst
  docs/source/unstable_heat_equation.py
  src/pymor/algorithms/bernoulli.py
  src/pymor/algorithms/eigs.py
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymor/reductors/h2.py
  src/pymordemos/unstable_heat.py
  src/pymortests/algorithms/bernoulli.py
  src/pymortests/algorithms/eigs.py
  src/pymortests/demos.py
  src/pymortests/riccati.py
Labels: pr:new-feature

#1378 Bugfixes in lrradi
  src/pymor/algorithms/lrradi.py
Labels: pr:fix

#1376 Update dependencies
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  docs/source/conf.py
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
Labels: infrastructure, pr:change

#1388 Fix qt config check
  src/pymor/core/config.py
Labels: pr:fix

#1391 [docs] fix rst link
  docs/source/developer_docs.rst
Labels: pr:fix

#1390 [docs] remove system norm subsections
  docs/source/tutorial_lti_systems.md
Labels: pr:fix

#1392 Update email
  .mailmap
  AUTHORS.md
Labels: pr:fix

#1317 Add `FenicsMatrixOperator._real_apply_inverse_adjoint_one_vector`
  src/pymor/bindings/fenics.py
  src/pymortests/fixtures/operator.py
  src/pymortests/operators.py
Labels: pr:change

#1395 Fix height of plots generated by 1d matplotlib visualizer
  src/pymor/discretizers/builtin/gui/matplotlib.py
Labels: pr:fix

#1379 Time dependent parameter values
  src/pymor/algorithms/timestepping.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/core/cache.py
  src/pymor/parameters/base.py
  src/pymor/tools/frozendict.py
  src/pymortests/fixtures/parameter.py
  src/pymortests/function.py
  src/pymortests/parameters.py
  src/pymortests/strategies.py
Labels: pr:new-feature

#1401 [ci] update wheel check to debian stable's pip version
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, pr:change

#1399 Improve appearance of input and output cells
  docs/source/_static/pymor.css
  docs/source/tutorial_optimization.md
Labels: infrastructure, pr:change

#1398 Section on ANN output reductors in release notes
  docs/source/release_notes/2021.1.rst
Labels: pr:new-feature

#1406 Add test for parameters.parse(mu)
  src/pymortests/parameters.py
Labels: pr:new-feature

#1277 Use symbolic expressions in ExpressionFunction
  docs/source/autoapi_pymor.py
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  src/pymor/analyticalproblems/burgers.py
  src/pymor/analyticalproblems/expressions.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/analyticalproblems/thermalblock.py
  src/pymor/parameters/base.py
  src/pymor/parameters/functionals.py
  src/pymordemos/elliptic.py
  src/pymordemos/elliptic2.py
  src/pymordemos/elliptic_oned.py
  src/pymordemos/elliptic_unstructured.py
  src/pymordemos/function_ei.py
  src/pymordemos/heat.py
  src/pymordemos/linear_optimization.py
  src/pymordemos/neural_networks.py
  src/pymordemos/neural_networks_instationary.py
  src/pymordemos/parabolic.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/parametric_heat.py
  src/pymortests/fixtures/analyticalproblem.py
  src/pymortests/fixtures/function.py
  src/pymortests/strategies.py
Labels: pr:new-feature

#1409 doc pytest
  docs/source/developer_docs.rst
  docs/source/index.rst
Labels: pr:change

#1408 Introduce ListVectorSpace.vector_type and make make_array smarter
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/operators/list.py
  src/pymor/vectorarrays/list.py
Labels: pr:change

#1410 Add StationaryModel.deaffinize
  src/pymor/algorithms/projection.py
  src/pymor/models/basic.py
  src/pymortests/model.py
Labels: pr:new-feature

#1413 Bugfix in get_ast_spectrum
  src/pymor/models/iosys.py
Labels: pr:fix

#1394 Release notes for 2021.1
  docs/source/release_notes/2021.1.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature

#1179 Update error analysis
  src/pymor/algorithms/error.py
  src/pymor/basic.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/thermalblock.py
  src/pymordemos/thermalblock_adaptive.py
  src/pymordemos/thermalblock_simple.py
Labels: pr:change

#1415 Finish release notes for 2021.1.x (release branch)
  docs/source/release_notes/2021.1.rst
Labels: pr:new-feature

#1414 Finish release notes for 2021.1
  docs/source/release_notes/2021.1.rst
Labels: pr:new-feature
