Repository pymor/pymor, pull requests merged in 2021-01, with the labels that each got.

#1233 fix interpshinx mapping
  docs/source/conf.py
Labels: automerge, infrastructure, pr:fix

#1231 Github action for flake8 check
  .github/workflows/autosquash_check.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/flake8.yml
  .github/workflows/label.yml
  .github/workflows/link_check.yml
Labels: automerge, infrastructure, pr:new-feature

#1237 fix flake8 check for forks
  .github/workflows/flake8.yml
  .github/workflows/label.yml
Labels: automerge, pr:fix

#1234 [operators/block] skip ZeroOperators in apply and apply_adjoint
  src/pymor/operators/block.py
Labels: pr:change

#1228 update pymess wheels and re-enable tests
  dependencies.py
  requirements-optional.txt
  src/pymortests/lyapunov.py
Labels: automerge, infrastructure, pr:fix

#1244 [ci] fix compare base for link check
  .github/workflows/link_check.yml
Labels: automerge, pr:fix

#1238 Refactor Linter GH actions
  .github/workflows/enforce-labels.yml
  .github/workflows/flake8.yml
  .github/workflows/git_checks.yml
  .github/workflows/label.yml
  .github/workflows/link_check.yml
  .github/workflows/linter.yml
  .github/workflows/process_linter_results.yml
Labels: automerge, pr:change
