Repository pymor/pymor, pull requests merged in 2021-04, with the labels that each got.

#1284 Bump CI images
  .binder/Dockerfile
  .binder/docker-compose.yml
  .ci/gitlab/ci.yml
  .env
  docs/Makefile
  docs/source/tutorial_optimization.rst
Labels: infrastructure, pr:change

#1287 deprecate pyamg bindings and remove dependency
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-optional.txt
  src/pymor/algorithms/basic.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/bindings/pyamg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/vectorarrays/list.py
  src/pymordemos/analyze_pickle.py
  src/pymordemos/burgers_ei.py
  src/pymortests/core/logger.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:deprecation

#1259 Fix lstsq FutureWarning in NumpyMatrixOperator.apply_inverse
  src/pymor/operators/constructions.py
  src/pymor/operators/numpy.py
  src/pymortests/operators.py
Labels: pr:fix

#1291 Some improvements to WebGL visualizations
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/threejs.py
Labels: pr:fix

#1290 Fixes for documentation of stationary problem
  src/pymor/analyticalproblems/elliptic.py
Labels: pr:fix

#1286 Testing improvements
  .binder/docker-compose.yml
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_pip_installed.bash
  .ci/installed_pytest.ini
  .env
  MANIFEST.in
  Makefile
  dependencies.py
  docs/test_tutorials.py
  requirements-ci.txt
  setup.cfg
  setup.py
  src/pymor/bindings/fenics.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/tools/io.py
  src/pymor/tools/mpi.py
  src/pymortests/algorithms/ei.py
  src/pymortests/benchmarks.py
  src/pymortests/conftest.py
  src/pymortests/data/matrices/eye.npy
  src/pymortests/data/matrices/eye.txt
  src/pymortests/data/matrices/eye_compressed.npz
  src/pymortests/data/matrices/eye_uncompressed.npz
  src/pymortests/data/matrices/matlab.mat
  src/pymortests/demos.py
  src/pymortests/fixtures/operator.py
  src/pymortests/fixtures/vectorarray.py
  src/pymortests/mpi_run_demo_tests.py
  src/pymortests/testdata/Massmatrix.mat
  src/pymortests/testdata/Systemmatrix1.mat
  src/pymortests/testdata/Systemmatrix2.mat
  src/pymortests/testdata/parameter_instationary.ini
  src/pymortests/testdata/parameter_stationary.ini
  src/pymortests/testdata/rhs1.mat
  src/pymortests/testdata/rhs2.mat
  src/pymortests/testdata/u0.mat
  src/pymortests/tools.py
Labels: infrastructure, pr:change

#1294 Let sample_randomly return a Mu instance in case count=None
  docs/source/tutorial_basis_generation.rst
  docs/source/tutorial_mor_with_anns.rst
  src/pymor/parameters/base.py
  src/pymortests/parameters.py
Labels: pr:change

#1274 [neural-networks] restructured training of neural networks
  src/pymor/models/neural_network.py
  src/pymor/reductors/neural_network.py
Labels: pr:change

#1295 Improve OperatorInterface._radd_sub
  src/pymor/operators/interface.py
Labels: pr:fix

#1296 Simplify semantics of assemble_lincomb / fix #1276
  src/pymor/algorithms/lincomb.py
  src/pymor/operators/constructions.py
  src/pymortests/operators.py
Labels: pr:change, pr:fix

#1297 Sdist metadata fix + automatic pypi uploads
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/wheels.bash
  docs/RELEASE_CHECKLIST.md
  setup.cfg
  setup.py
  versioneer.py
Labels: infrastructure, pr:fix, pr:new-feature
