Repository pymor/pymor, pull requests merged in 2021-07, with the labels that each got.

#1341 Fix Log and Figure output duplication in docs
  dependencies.py
  docs/Makefile
  docs/source/conf.py
  docs/source/getting_started.md
  docs/source/release_notes/2020.1.rst
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_bt.md
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_external_solver.md
  docs/source/tutorial_lti_systems.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  docs/source/tutorial_projection.md
  requirements-optional.txt
Labels: infrastructure, pr:fix

#1336 Keep consistent defaults with multiple processes
  src/pymor/__init__.py
  src/pymor/core/defaults.py
  src/pymor/parallel/ipython.py
  src/pymor/tools/mpi.py
Labels: pr:change

#1342 [ci] update images
  .ci/gitlab/ci.yml
  .env
Labels: infrastructure, pr:change

#1344 fix parse(mu) for a mu that is a Mu
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  src/pymor/parameters/base.py
Labels: pr:fix

#1240 Several EI improvements
  docs/source/bibliography.bib
  src/pymor/algorithms/ei.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/basic.py
  src/pymor/discretizers/builtin/grids/oned.py
  src/pymordemos/function_ei.py
  src/pymortests/demos.py
Labels: pr:new-feature

#1346 Completes Hypothesis Todos
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .env
  docs/source/environment.rst
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymortests/affine_grid.py
  src/pymortests/algorithms/pod.py
  src/pymortests/base.py
  src/pymortests/conftest.py
  src/pymortests/fixtures/grid.py
  src/pymortests/grid.py
  src/pymortests/strategies.py
  src/pymortests/tools.py
  src/pymortests/vectorarray.py
Labels: pr:change
