Repository pymor/pymor, pull requests merged in 2021-05, with the labels that each got.

#1301 Small bug fix in models.interface
  src/pymor/models/interface.py
Labels: pr:fix

#1253 Switch to sphinx-autoapi
  .binder/Dockerfile
  .binder/docker-compose.yml
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  docs/.gitignore
  docs/Makefile
  docs/source/_templates/autoapi/python/module.rst
  docs/source/autoapi_pymor.py
  docs/source/conf.py
  docs/source/developer_docs.rst
  docs/source/gen_apidoc.py
  docs/source/index.rst
  requirements-optional.txt
  src/pymor/algorithms/rules.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/core/base.py
  src/pymor/core/exceptions.py
  src/pymor/core/pickle.py
  src/pymor/discretizers/builtin/grids/_unstructured.py
  src/pymor/discretizers/builtin/inplace.py
  src/pymor/discretizers/builtin/inverse.py
  src/pymor/discretizers/builtin/relations.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
Labels: infrastructure, pr:change

#1302 Drop python 3.6 support
  .binder/Dockerfile
  .binder/docker-compose.yml
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/install_checks/fedora/check.bash
  .ci/gitlab/template.ci.py
  .env
  Makefile
  dependencies.py
  docs/source/conf.py
  docs/source/developer_docs.rst
  pyproject.toml
  requirements-optional.txt
  requirements.txt
  setup.cfg
  setup.py
  src/pymortests/demos.py
Labels: infrastructure, management, pr:removal

#1306 Pymess from pypi and fewer service images
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  .env
  MANIFEST.in
  dependencies.py
  requirements-optional.txt
  src/pymor/scripts/check_reqs.py
Labels: infrastructure, pr:change

#1304 Several improvements to Qt-based visualizations
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/azure/pymor_defaults.py_osx
  .ci/azure/pymor_defaults.py_win
  .ci/gitlab/ci.yml
  .env
  Makefile
  dependencies.py
  docs/source/developer_docs.rst
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
  setup.py
  src/pymor/__init__.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/oned.py
  src/pymor/discretizers/builtin/grids/rect.py
  src/pymor/discretizers/builtin/grids/tria.py
  src/pymor/discretizers/builtin/grids/unstructured.py
  src/pymor/discretizers/builtin/gui/gl.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/discretizers/builtin/gui/visualizers.py
  src/pymor/models/interface.py
  src/pymor/models/mpi.py
  src/pymor/scripts/__init__.py
  src/pymor/scripts/pymor_demo.py
  src/pymor/scripts/pymor_vis.py
  src/pymor/tools/io.py
  src/pymordemos/thermalblock_gui.py
  src/pymortests/demos.py
  src/pymortests/grid.py
  src/pymortests/gui.py
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, pr:change, pr:fix

#1307 pre-commit setup
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/submit.bash
  .ci/gitlab/test_vanilla.bash
  .pre-commit-config.yaml
  MANIFEST.in
  docs/Makefile
  docs/source/developer_docs.rst
  docs/source/environment.rst
  docs/source/technical_overview.rst
  docs/source/tutorial_optimization.rst
  docs/source/tutorial_projection.rst
Labels: infrastructure, pr:new-feature

#1299 backports for 2020.2.1 release
  .ci/azure/azure-pipelines.yml
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/azure/pymor_defaults.py_osx
  .ci/azure/pymor_defaults.py_win
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_mpi.bash
  .ci/gitlab/test_numpy_git.bash
  .ci/gitlab/wheels.bash
  .env
  .github/workflows/autosquash_check.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/link_check.yml
  .pre-commit-config.yaml
  README.md
  dependencies.py
  docs/RELEASE_CHECKLIST.md
  docs/source/developer_docs.rst
  docs/source/tutorial_external_solver.rst
  docs/source/tutorial_optimization.rst
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
  setup.cfg
  setup.py
  src/pymor/__init__.py
  src/pymor/bindings/ngsolve.py
  src/pymor/bindings/pyamg.py
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/gui/gl.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/discretizers/builtin/gui/visualizers.py
  src/pymor/operators/block.py
  src/pymor/operators/ei.py
  src/pymor/scripts/__init__.py
  src/pymor/scripts/pymor_demo.py
  src/pymor/scripts/pymor_vis.py
  src/pymor/tools/io.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/minimal_cpp_demo/wrapper.py
  src/pymordemos/thermalblock_gui.py
  src/pymortests/demos.py
  src/pymortests/grid.py
  src/pymortests/gui.py
  src/pymortests/mpi_run_demo_tests.py
  versioneer.py
Labels: infrastructure, pr:fix

#1312 fix (tagged) deploy for docs/pypi
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
Labels: infrastructure, pr:fix

#1311 fix (tagged) deploy for docs/pypi
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
Labels: pr:fix

#1318 Sanity
  .ci/gitlab/ci.yml
  .ci/gitlab/ci_sanity_check.bash
  .ci/gitlab/template.ci.py
  .env
  MANIFEST.in
  Makefile
  src/pymor/version.py
  versioneer.py
Labels: infrastructure, pr:change

#1320 Workaround for MPI hangs in CI
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_mpi.bash
  .pre-commit-config.yaml
Labels: infrastructure, pr:change

#1326 Fix almost_less for negative numbers
  src/pymor/tools/floatcmp.py
  src/pymortests/tools.py
Labels: pr:fix

#1325 Let MPIOperator.assemble return self when operator is unchanged
  src/pymor/operators/mpi.py
Labels: pr:fix
