Repository pymor/pymor, pull requests merged in 2021-06, with the labels that each got.

#1322 Various Improvements to the HAPOD algorithm (v2)
  src/pymor/algorithms/hapod.py
  src/pymordemos/hapod.py
  src/pymortests/demos.py
Labels: pr:fix, pr:new-feature

#1314 Replace all Cython modules by equivalent NumPy code
  .ci/gitlab/ci.yml
  .ci/gitlab/ci_sanity_check.bash
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/wheels.bash
  .env
  MANIFEST.in
  dependencies.py
  pyproject.toml
  requirements-optional.txt
  requirements.txt
  setup.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/_unstructured.py
  src/pymor/discretizers/builtin/grids/_unstructured.pyx
  src/pymor/discretizers/builtin/grids/unstructured.py
  src/pymor/discretizers/builtin/inplace.py
  src/pymor/discretizers/builtin/inplace.pyx
  src/pymor/discretizers/builtin/relations.py
  src/pymor/discretizers/builtin/relations.pyx
  src/pymortests/fixtures/grid.py
Labels: infrastructure, pr:change

#1330 Fix typos in `README.md`
  README.md
Labels: pr:fix

#1332 Update `README.md` in `gh-pages` branch
  README.md
Labels: pr:fix

#1327 Use complex vector handling of wrapped object in MPIVectorArray
  src/pymor/vectorarrays/mpi.py
Labels: pr:fix

#1309 Add methods to `models.iosys` for exporting matrices
  src/pymor/models/iosys.py
  src/pymor/tools/io.py
  src/pymortests/iosys_save_load.py
  src/pymortests/tools.py
Labels: pr:new-feature

#1300 Test system operations, other fixes and improvements
  src/pymor/models/iosys.py
  src/pymor/reductors/h2.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/string_equation.py
  src/pymortests/iosys_add_sub_mul.py
Labels: pr:change, pr:fix, pr:new-feature

#1333 Avoid async related windows CI errors
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/azure/run_tests.py
  src/pymor/discretizers/builtin/gui/gl.py
  src/pymortests/tools.py
Labels: infrastructure, pr:fix

#1331 Improve shift selection in `lradi`
  src/pymor/algorithms/lradi.py
  src/pymor/bindings/pymess.py
  src/pymortests/lyapunov.py
  src/pymortests/riccati.py
Labels: pr:change, pr:new-feature
