Repository pymor/pymor, pull requests merged in 2021-11, with the labels that each got.

#1440 [Backport] Prevent invalid conversion of an Expression to bool
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  src/pymor/analyticalproblems/expressions.py
  src/pymortests/algorithms/svd_va.py
  src/pymortests/function.py
Labels: pr:fix

#1448 ci action updates
  .ci/gitlab/ci.yml
  .env
  .github/dependabot.yml
  setup.py
Labels: infrastructure, pr:change

#1451 [tests] allow "too large" data input for svd tests
  src/pymortests/algorithms/svd_va.py
Labels: pr:change

#1452 Install dunegdt in ci
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  dependencies.py
  requirements-optional.txt
  src/pymor/core/config.py
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, pr:new-feature

#1445 Wachspress' shifts
  docs/source/bibliography.bib
  src/pymor/algorithms/lradi.py
  src/pymordemos/heat.py
Labels: pr:new-feature

#1442 SAMDP improvement
  src/pymor/algorithms/samdp.py
Labels: pr:change

#1419 Add vectorarray cow test
  src/pymortests/vectorarray.py
Labels: pr:new-feature

#1465 [ci] fix linter processing after script version bump
  .github/workflows/process_linter_results.yml
Labels: pr:fix

#1454 Ensure that output_functional is never None
  src/pymor/discretizers/builtin/list.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/neural_network.py
  src/pymor/reductors/basic.py
  src/pymor/reductors/neural_network.py
Labels: pr:change

#1453 Improve error handling in DiskRegion / Don't disable caching in mpi_wrap_model
  src/pymor/bindings/fenics.py
  src/pymor/core/cache.py
  src/pymor/core/exceptions.py
  src/pymor/core/pickle.py
  src/pymor/models/mpi.py
  src/pymor/vectorarrays/mpi.py
Labels: pr:new-feature, pr:change

#1383 bindings for dune-gdt (part 1: bindings)
  src/pymor/algorithms/to_matrix.py
  src/pymor/bindings/dunegdt.py
  src/pymor/core/config.py
  src/pymor/vectorarrays/list.py
  src/pymortests/operators.py
  src/pymortests/pickling.py
  src/pymortests/strategies.py
  src/pymortests/to_matrix.py
Labels: pr:new-feature

#1467 Fix demo tests to not create unwanted pickle output
  src/pymordemos/thermalblock_adaptive.py
  src/pymortests/demos.py
Labels: pr:fix

#1471 pin jupyter_client to workaround pythreejs issue
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:fix

#1473 [tests] tighten vecarray COW + add regression test case
  src/pymortests/vectorarray.py
Labels: pr:fix

#1475 Re-enable "oldest" CI job
  .binder/docker-compose.yml
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  .env
  Makefile
  dependencies.py
  docs/source/minimal_cpp_demo/CMakeLists.txt
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
  src/pymordemos/minimal_cpp_demo/CMakeLists.txt
Labels: infrastructure, pr:fix

#1476 Revert "[tests] fall back on `plt.show = nop` for python 3.7"
  src/pymortests/demos.py
Labels: pr:change

#1482 [setup/ci] relax numpy pin, bump images to fix numpy master jobs
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  pyproject.toml
  requirements.txt
Labels: infrastructure, pr:change

#1463 Improvements to API documentation
  docs/source/_static/pymor.css
  docs/source/_templates/layout.html
Labels: pr:change

#1469 Add input parameter to interface methods of Model
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/parameters/base.py
Labels: pr:new-feature

#1483 Add platform info to str(pymor.config)
  src/pymor/core/config.py
Labels: pr:new-feature
