Repository pymor/pymor, pull requests merged in 2021-12, with the labels that each got.

#1484 Ensure that mu arguments are parsed before cache keys are built
  src/pymor/core/cache.py
Labels: pr:change

#1478 Add NumpyConversionOperator
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/operators/constructions.py
  src/pymortests/fixtures/operator.py
Labels: pr:new-feature, pr:change

#1480 Edit `gram_schmidt_biorth` docstring
  src/pymor/algorithms/gram_schmidt.py
Labels: pr:fix

#1477 [.github] add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: pr:new-feature

#1424 Add DMD (standard and exact)
  AUTHORS.md
  docs/source/bibliography.bib
  src/pymor/algorithms/basic.py
  src/pymor/algorithms/dmd.py
  src/pymor/algorithms/pod.py
  src/pymor/algorithms/svd_va.py
  src/pymor/basic.py
  src/pymor/discretizers/builtin/grids/oned.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymordemos/burgers_dmd.py
  src/pymordemos/dmd_identification.py
  src/pymortests/demos.py
  src/pymortests/fixtures/grid.py
Labels: pr:new-feature

#1490 Speedup computations by passing inputs as batch in the instationary ANN models
  src/pymor/models/neural_network.py
Labels: pr:change

#1493 Warn when __init__ of a ParametricObject takes a variable number of arguments
  src/pymor/core/base.py
  src/pymor/parameters/base.py
Labels: pr:change

#1492 Minor fixes to symbolic expression library
  src/pymor/analyticalproblems/expressions.py
Labels: pr:fix

#1495 fix windows azure CI
  .ci/azure/pipeline-win.yml
  src/pymortests/demos.py
Labels: pr:fix

#1474 Simple output estimator with dual norm
  AUTHORS.md
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/parabolic.py
  src/pymordemos/output_error_estimation.py
  src/pymortests/demos.py
Labels: pr:new-feature

#1479 Fix VectorArray slicing and disable slice filtering in VectorArray tests
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/mpi.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/strategies.py
  src/pymortests/vectorarray.py
Labels: pr:change, pr:fix

#1502 Autoapi workarounds
  .ci/gitlab/deploy_docs.bash
  docs/source/autoapi_pymor.py
  src/pymor/bindings/dunegdt.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/slycot.py
  src/pymor/models/neural_network.py
  src/pymor/reductors/neural_network.py
Labels: pr:fix

#1497 update mailmap and add CI check
  .ci/check_mailmap.py
  .ci/gitlab/ci_sanity_check.bash
  .mailmap
  docs/RELEASE_CHECKLIST.md
Labels: infrastructure, pr:change

#1506 Fix to_numpy() for Array expression
  src/pymor/analyticalproblems/expressions.py
Labels: pr:fix

#1485 ci actually really fix oldest jobs
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_oldest.bash
  .env
  Makefile
  dependencies.py
  requirements-ci.txt
  requirements-optional.txt
  src/pymor/algorithms/eigs.py
  src/pymor/core/config.py
  src/pymor/tools/io/matrices.py
  src/pymortests/docker_ci_smoketest.py
  src/pymortests/strategies.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:fix

#1486 Transfer function model restructuring
  docs/source/autoapi_pymor.py
  docs/source/substitutions.py
  docs/source/tutorial_bt.md
  docs/source/tutorial_lti_systems.md
  src/pymor/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/transfer_function.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/parametric_delay.py
  src/pymordemos/unstable_heat.py
  src/pymortests/iosys_add_sub_mul.py
Labels: pr:change

#1509 [ci] also test markdown tutorial files
  docs/test_tutorials.py
Labels: pr:change

#1507 Experimental scikit-fem support
  dependencies.py
  docs/source/autoapi_pymor.py
  requirements-ci.txt
  src/pymor/core/config.py
  src/pymor/discretizers/skfem/__init__.py
  src/pymor/discretizers/skfem/cg.py
  src/pymor/discretizers/skfem/domaindiscretizer.py
  src/pymortests/skfem.py
Labels: infrastructure, pr:new-feature

#1508 Release notes for 2021.2
  docs/source/release_notes/2021.2.rst
  docs/source/release_notes/all.rst
  docs/source/substitutions.py
Labels: pr:new-feature

#1512 update readme for 2021.2 release
  README.md
Labels: pr:change

#1520 Change RQI stopping criterion
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  dependencies.py
  requirements-optional.txt
  requirements.txt
  src/pymor/algorithms/samdp.py
Labels: infrastructure, pr:fix
