Repository pymor/pymor, pull requests merged in 2021-02, with the labels that each got.

#1249 Limit variability and fix qt/ogl in azure CI
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/gitlab/Dockerfile.binder.base
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymor/discretizers/builtin/gui/qt.py
Labels: automerge, infrastructure, pr:fix

#1243 Fixed computation of intersection_codim in _neighbours
  src/pymor/discretizers/builtin/grids/interfaces.py
Labels: pr:fix

#1245 Bump CI images to contain dolfinx
  .ci/gitlab/ci.yml
  .env
Labels: infrastructure, pr:change

#1246 Fix bug in apply_inverse for LincombOperators
  .ci/gitlab/deploy_docs.bash
  src/pymor/operators/constructions.py
  src/pymortests/operators.py
Labels: automerge, pr:fix

#1250 intermittent MPI CI failure workaround
  .ci/gitlab/test_mpi.bash
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, pr:change

#1252 fix deprecated float usage
  .ci/gitlab/ci.yml
  .env
  docs/source/tutorial_external_solver.rst
  src/pymor/discretizers/builtin/fv.py
  src/pymordemos/burgers_ei.py
  src/pymordemos/minimal_cpp_demo/wrapper.py
Labels: pr:fix

#1255 Use annotations instead of review for linter
  .github/workflows/git_checks.yml
  .github/workflows/process_linter_results.yml
Labels: infrastructure, pr:change

#1247 [algorithms.samdp] rename which argument
  src/pymor/algorithms/samdp.py
  src/pymortests/algorithms/samdp.py
Labels: pr:change

#1256 [ci] fix weekly jobs on main
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
Labels: pr:fix

#1260 Some CI update
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .github/workflows/git_checks.yml
Labels: pr:change
