Repository pymor/pymor, pull requests merged in 2021-03, with the labels that each got.

#1263 [ci] remove "new" dependency resolver usage\
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/test_oldest.bash
  .ci/gitlab/test_pip_installed.bash
Labels: pr:change

#1264 numpy default branch rename
  .ci/gitlab/test_numpy_git.bash
  .github/auto-merge.yml
Labels: infrastructure, pr:change

#1266 bump ci images for newer ngsolve
  .ci/gitlab/ci.yml
  .env
Labels: infrastructure, pr:change

#1271 Reenable torch tests for 3.9
  docs/test_tutorials.py
  src/pymortests/demos.py
Labels: pr:change

#1270 Simplify SecondOrderModel-related operators
  src/pymor/algorithms/lincomb.py
  src/pymor/models/iosys.py
  src/pymor/operators/block.py
Labels: pr:change

#1151 Modal truncation
  AUTHORS.md
  src/pymor/basic.py
  src/pymor/reductors/mt.py
  src/pymordemos/heat.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/string_equation.py
Labels: pr:new-feature

#1275 Fix some Markdown issues
  AUTHORS.md
  CONTRIBUTING.md
  README.md
  docs/RELEASE_CHECKLIST.md
  logo/README.md
Labels: management, pr:fix

#1254 Fix `make docs` printing `rules`, edit `tools.formatsrc` and `rule.__repr__`
  src/pymor/algorithms/rules.py
  src/pymor/tools/formatsrc.py
  src/pymortests/tools.py
Labels: pr:fix

#1278 flake8 PR check for docstrings
  .github/workflows/linter.yml
Labels: pr:fix

#1280 [ci] fix broken label check
  .github/workflows/enforce-labels.yml
Labels: pr:fix

#1269 Extend EI/restricted Operator tests
  .ci/azure/pipeline-win.yml
  src/pymor/bindings/ngsolve.py
  src/pymor/operators/ei.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/ei.py
  src/pymortests/algorithms/gram_schmidt.py
  src/pymortests/algorithms/pod.py
  src/pymortests/algorithms/projection.py
  src/pymortests/algorithms/svd_va.py
  src/pymortests/analyticalproblem.py
  src/pymortests/base.py
  src/pymortests/conftest.py
  src/pymortests/fixtures/model.py
  src/pymortests/function.py
  src/pymortests/model.py
  src/pymortests/mpi_run_demo_tests.py
  src/pymortests/operators.py
Labels: pr:change

#1279 Fix MPI pickling setup for 'new enough' mpi4py
  dependencies.py
  requirements-optional.txt
  src/pymor/tools/mpi.py
Labels: infrastructure, pr:fix
