Repository pymor/pymor, pull requests merged in 2022-05, with the labels that each got.

#1600 Algorithms for symplectic MOR
  .mailmap
  AUTHORS.md
  docs/source/bibliography.bib
  docs/source/substitutions.py
  src/pymor/algorithms/symplectic.py
  src/pymor/operators/symplectic.py
  src/pymortests/algorithms/symplectic.py
Labels: pr:new-feature

#1620 update myst-nb config for new release
  .ci/conda-env.yml
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  docs/source/conf.py
  requirements-optional.txt
Labels: infrastructure, pr:change

#1552 Add randomized linear algebra methods for svd and ghep
  AUTHORS.md
  docs/source/bibliography.bib
  src/pymor/algorithms/rand_la.py
  src/pymor/algorithms/randrangefinder.py
  src/pymortests/rand_la.py
  src/pymortests/randrangefinder.py
Labels: pr:new-feature

#1627 Remove python 3.7 support
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  .github/workflows/conda_tests.yml
  Makefile
  dependencies.py
  docs/source/release_notes/2022.1.rst
  docs/source/release_notes/all.rst
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
  setup.py
Labels: infrastructure, pr:removal
