Repository pymor/pymor, pull requests merged in 2022-02, with the labels that each got.

#1553 Fix setting of logger filename via defaults
  src/pymor/core/logger.py
Labels: pr:fix

#1549 Fix default value of AdvectionOperatorP1.advection_function
  src/pymor/discretizers/builtin/cg.py
Labels: pr:fix

#1556 [docs] update intersphinx mappings
  docs/source/conf.py
Labels: pr:change

#1561 add spmatrix to docstring of `NumpyMatrixOperator`
  src/pymor/operators/numpy.py
Labels: pr:fix

#1558 IRKA initialization fixes
  src/pymor/reductors/h2.py
  src/pymortests/reductors/__init__.py
  src/pymortests/reductors/h2.py
Labels: backport, pr:fix

#1546 `NumpyHankelOperator` class
  AUTHORS.md
  docs/source/bibliography.bib
  src/pymor/algorithms/to_matrix.py
  src/pymor/operators/numpy.py
  src/pymortests/fixtures/operator.py
  src/pymortests/operators.py
Labels: pr:new-feature

#1567 Improve config checks for FEniCS and dealii
  src/pymor/core/config.py
Labels: pr:fix

#1576 Traverse ast to parse literals in Expressions
  docs/source/tutorial_builtin_discretizer.md
  src/pymor/analyticalproblems/expressions.py
Labels: pr:fix

#1581 [ci] allow numpy to pull in unfrozen dependencies
  .ci/gitlab/test_numpy_git.bash
  .github/workflows/process_linter_results.yml
Labels: pr:change

#1571 switch to newer CITATION.cff schema version
  .ci/github
  .github/workflows/citation.yml
  .gitignore
  CITATION.cff
Labels: infrastructure, pr:change

#1572 [demos.linear_optimization] use floats for objective functions
  docs/source/tutorial_optimization.md
  src/pymordemos/linear_optimization.py
Labels: pr:fix

#1555 ci image update
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
Labels: pr:change

#1589 Disable FEniCS visualization in MPI parallel CI runs
  src/pymortests/mpi_run_demo_tests.py
Labels: pr:fix
