Repository pymor/pymor, pull requests merged in 2022-01, with the labels that each got.

#1521 Fix Weekly CI jobs
  docs/Makefile
  docs/source/conf.py
  docs/source/minimal_cpp_demo/CMakeLists.txt
  src/pymortests/affine_grid.py
  src/pymortests/conftest.py
  src/pymortests/fixtures/grid.py
  src/pymortests/function.py
  src/pymortests/grid.py
Labels: pr:fix

#1515 remove deprecated functions after the 2021.2 release
  docs/test_tutorials.py
  src/pymor/models/iosys.py
  src/pymordemos/parametric_delay.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/parametric_synthetic.py
Labels: pr:change

#1518 Switch from Azure Pipelines to Github Actions
  .ci/azure/azure-pipelines.yml
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  .ci/azure/pymor_defaults.py_osx
  .ci/azure/pymor_defaults.py_win
  .ci/azure/replace_opengl_imp.reg
  .ci/azure/run_tests.py
  .ci/check_mailmap.py
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .github/labeler.yml
  .github/workflows/conda_tests.yml
  .github/workflows/dependencies_change.yml
  .github/workflows/pytest_results.yml
  .mailmap
  README.md
  docs/source/developer_docs.md
  docs/source/developer_docs.rst
  src/pymor/algorithms/samdp.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymordemos/output_error_estimation.py
  src/pymortests/affine_grid.py
  src/pymortests/demos.py
Labels: infrastructure, pr:new-feature, pr:removal

#1527 Disable Pytest PR Comments
  .github/workflows/pytest_results.yml
Labels: pr:change

#1513 FEniCS: Save LinearSolver object in FenicsMatrixOperator to accelerate repeated solves
  src/pymor/bindings/fenics.py
Labels: pr:new-feature

#1531 Remove 'if config.HAVE_...' checks in modules that require optional dependencies
  setup.cfg
  src/pymor/bindings/dunegdt.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/slycot.py
  src/pymor/core/config.py
  src/pymor/core/defaults.py
  src/pymor/core/exceptions.py
  src/pymor/discretizers/builtin/grids/vtkio.py
  src/pymor/discretizers/builtin/gui/gl.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib_base.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/discretizers/builtin/gui/visualizers.py
  src/pymor/discretizers/skfem/cg.py
  src/pymor/discretizers/skfem/domaindiscretizer.py
  src/pymor/models/neural_network.py
  src/pymor/parallel/ipython.py
  src/pymor/reductors/neural_network.py
  src/pymor/tools/io/__init__.py
  src/pymor/tools/io/vtk.py
  src/pymortests/core/config.py
  src/pymortests/gui.py
  src/pymortests/tools.py
Labels: infrastructure, pr:change

#1534 [setup] block broken qtpy version
  .ci/azure/pipeline-osx.yml
  .ci/azure/pipeline-win.yml
  dependencies.py
  requirements-optional.txt
  requirements.txt
Labels: infrastructure, pr:fix

#1545 [ci|github] also run on pull-requests, but not duplicate
  .ci/gitlab/install_checks/debian-bullseye/check.bash
  .github/workflows/conda_tests.yml
  .pre-commit-config.yaml
Labels: pr:change

#1542 fix incorrect docstring
  src/pymor/algorithms/lyapunov.py
Labels: pr:fix

#1500 `sampling_time` attribute for discrete-time systems
  AUTHORS.md
  docs/source/tutorial_lti_systems.md
  src/pymor/models/iosys.py
  src/pymor/models/transfer_function.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/sor_irka.py
  src/pymortests/iosys_add_sub_mul.py
Labels: pr:new-feature, pr:change

#1540 Improve MPI related interpreter shutdown issues
  docs/source/environment.rst
  src/pymor/__init__.py
  src/pymor/models/mpi.py
  src/pymor/tools/mpi.py
Labels: pr:fix

#1547 remove unused imports
  src/pymor/analyticalproblems/burgers.py
  src/pymor/discretizers/builtin/list.py
  src/pymor/operators/numpy.py
  src/pymor/scripts/pymor_demo.py
  src/pymor/tools/floatcmp.py
  src/pymordemos/elliptic.py
  src/pymortests/algorithms/svd_va.py
  src/pymortests/solver.py
Labels: pr:fix

#1539 Add algorithm to contract non-parametric parts of LincombOperators and ConcatenationOperators
  src/pymor/algorithms/simplify.py
  src/pymortests/algorithms/simplify.py
Labels: pr:new-feature
