Repository pymor/pymor, pull requests merged in 2022-10, with the labels that each got.

#1766 [models.iosys] set cache_region to 'memory'
  src/pymor/models/iosys.py
Labels: pr:fix

#1769 [ci] Coverage improvements
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/submit.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_mpi.bash
  .ci/gitlab/test_numpy_git.bash
  .ci/gitlab/test_oldest.bash
  .ci/gitlab/test_tutorials.bash
  .ci/gitlab/test_vanilla.bash
  .github/workflows/conda_tests.yml
  setup.cfg
  src/pymortests/mpi_run_demo_tests.py
  src/pymortests/strategies.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:change, autoupdate

#995 Add caching for LQGBTReductor and BRBTReductor Gramians
  docs/source/tutorial_unstable_lti_systems.md
  docs/source/unstable_heat_equation.py
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymordemos/heat.py
Labels: pr:new-feature, autoupdate

#1779 Reset dlopen flags after dolfin import
  .ci/fix_coverage_paths_windows.py
  .github/workflows/conda_tests.yml
  src/pymor/core/config.py
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, backport, pr:fix, autoupdate

#1780 Let RuleTable.get_children return a list
  src/pymor/algorithms/rules.py
Labels: backport, pr:fix, autoupdate

#1782 Fix testpypi upload
  .ci/gitlab/ci.yml
  .ci/gitlab/pypi_deploy.bash
  .ci/gitlab/template.ci.py
  .codecov.yml
Labels: backport, pr:change, autoupdate

#1781 Fix MPIOperator.apply_adjoint
  src/pymor/operators/mpi.py
Labels: backport, pr:fix, autoupdate

#1783 Backports for #1779 + #1782 + #1781
  .ci/gitlab/pypi_deploy.bash
  src/pymor/algorithms/rules.py
  src/pymor/core/config.py
  src/pymor/operators/mpi.py
  src/pymortests/mpi_run_demo_tests.py
Labels: pr:fix

#1736 New approach to handling randomness in pyMOR
  .codecov.yml
  docs/source/substitutions.py
  src/pymor/algorithms/eigs.py
  src/pymor/algorithms/hapod.py
  src/pymor/algorithms/lradi.py
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/samdp.py
  src/pymor/basic.py
  src/pymor/bindings/dunegdt.py
  src/pymor/bindings/fenics.py
  src/pymor/parallel/ipython.py
  src/pymor/parallel/mpi.py
  src/pymor/parameters/base.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/neural_network.py
  src/pymor/tools/random.py
  src/pymor/tools/timing.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/numpy.py
  src/pymordemos/dmd_identification.py
  src/pymordemos/output_error_estimation.py
  src/pymordemos/parabolic_mor.py
  src/pymordemos/thermalblock.py
  src/pymortests/algorithms/ei.py
  src/pymortests/algorithms/symplectic.py
  src/pymortests/demos.py
  src/pymortests/fixtures/operator.py
  src/pymortests/low_rank_op.py
  src/pymortests/model.py
  src/pymortests/rand_la.py
  src/pymortests/testdata/check_results/test_parabolic_mor_results/ca3b1109e5bd10d21b0b9bc432d6ac101cf1fa4d
  src/pymortests/testdata/check_results/test_thermalblock_results/105686ef68a9b4b3655c790d395526c623efd162
  src/pymortests/testdata/check_results/test_thermalblock_results/29e5f263a02a275f4d29b7e5bdf32ad20c1e6346
  src/pymortests/testdata/check_results/test_thermalblock_results/38a8bfe939551df7383a6058a2862fb9d2eea5a4
  src/pymortests/testdata/check_results/test_thermalblock_results/a92ec4631a6f0edc2eae1cc3b0fa17af6c467cef
  src/pymortests/testdata/check_results/test_thermalblock_results/c8a460e412d9170f12508ab3608fd7e1e1750603
  src/pymortests/testdata/check_results/test_thermalblock_results/ce0770de067386276c9e89afa2d63daeb512a9f5
  src/pymortests/testdata/check_results/test_thermalblock_results/ea8f66e263715fd0185d0dd23ab6d57feb6ee898
  src/pymortests/vectorarray.py
Labels: pr:change, autoupdate
