Repository pymor/pymor, pull requests merged in 2022-04, with the labels that each got.

#1511 coverage boost
  src/pymor/scripts/check_reqs.py
  src/pymortests/demos.py
Labels: pr:change

#1613 Fix Wheel install checks
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  .github/workflows/link_check.yml
  README.md
  conftest.py
  src/pymortests/conftest.py
  src/pymortests/mpi_run_demo_tests.py
Labels: pr:change

#1617 enable discrete-time BT
  AUTHORS.md
  src/pymor/reductors/basic.py
  src/pymor/reductors/bt.py
Labels: pr:new-feature

#1616 Improve `LTIModel.from_mat_file`
  src/pymor/models/iosys.py
  src/pymortests/iosys_save_load.py
Labels: pr:new-feature, pr:fix
