Repository pymor/pymor, pull requests merged in 2022-08, with the labels that each got.

#1648 Refactor Tutorial testing
  .ci/conda-env.yml
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/test_docs.bash
  .ci/gitlab/test_tutorials.bash
  .env
  .github/workflows/conda_tests.yml
  Makefile
  dependencies.py
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_bt.md
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_external_solver.md
  docs/source/tutorial_lti_systems.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  docs/source/tutorial_projection.md
  docs/source/tutorial_unstable_lti_systems.md
  docs/test_tutorials.py
  requirements-ci.txt
  setup.cfg
Labels: infrastructure, pr:change, autoupdate

#1703 [.mailmap] update
  .ci/check_mailmap.py
  .mailmap
  docs/RELEASE_CHECKLIST.md
Labels: infrastructure, pr:fix, autoupdate

#1701 NCC
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .github/workflows/dependencies_change.yml
  Makefile
  src/pymor/tools/io/__init__.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/list.py
  src/pymortests/fixtures/grid.py
Labels: infrastructure, pr:removal, autoupdate

#1711 Remove np.matrix warnings
  src/pymor/algorithms/to_matrix.py
  src/pymor/bindings/pymess.py
  src/pymortests/to_matrix.py
Labels: pr:fix, autoupdate

#1712 bump images
  .ci/gitlab/ci.yml
  .env
Labels: pr:change, autoupdate

#1715 [ci] bump images for newer pip and slycot
  .ci/conda-env.yml
  .ci/gitlab/Dockerfile.binder.base
  .ci/gitlab/ci.yml
  .env
  .github/workflows/conda_tests.yml
  .github/workflows/dependencies_change.yml
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:change, autoupdate

#1725 [tests] derandomize all but the largest hypothesis profiles
  conftest.py
Labels: pr:change, autoupdate

#1727 [ci] more env-pr update fixes
  .github/workflows/conda_tests.yml
  .github/workflows/dependencies_change.yml
  .gitignore
Labels: pr:change, autoupdate

#1729 [docs] fix Python typo
  docs/source/index.rst
Labels: pr:fix, autoupdate

#1724 2022.1.1 ipywidgets fix
  .ci/conda-env.yml
  .ci/gitlab/Dockerfile.binder.base
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  docs/RELEASE_CHECKLIST.md
  requirements-optional.txt
  requirements.txt
Labels: infrastructure, pr:fix, autoupdate

#1710 2022.1.x dune versions
  conftest.py
  src/pymor/core/config.py
  src/pymortests/docker_ci_smoketest.py
Labels: pr:change

#1731 Fix Expression.to_fenics for conditionals
  src/pymor/analyticalproblems/expressions.py
  src/pymor/bindings/fenics.py
Labels: pr:fix, autoupdate

#1689 branch off new slycot version
  src/pymor/bindings/slycot.py
Labels: pr:fix, autoupdate

#1735 [docs] manually editing docs repo is no longer necessary
  docs/RELEASE_CHECKLIST.md
Labels: pr:change, autoupdate
