Repository pymor/pymor, pull requests merged in 2022-09, with the labels that each got.

#1745 Fixes #1744
  src/pymor/parameters/functionals.py
Labels: pr:fix, autoupdate

#1738 Improve Operator.apply_inverse default impl via to_matrix
  src/pymor/operators/interface.py
Labels: pr:new-feature, pr:fix, autoupdate

#1746 [ci] bump images for current gmsh
  .ci/gitlab/ci.yml
  .env
Labels: pr:change, autoupdate

#1752 small deprecation fix
  src/pymor/discretizers/builtin/gui/qt.py
Labels: pr:fix, autoupdate

#1759 Upper limit for sphinx
  .ci/conda-env.yml
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:change, dependencies, autoupdate

#1762 [ci] limit what counts as a pytest result file
  .github/workflows/pytest_results.yml
Labels: pr:change, autoupdate

#1754 Add code of conduct
  CODE_OF_CONDUCT.md
Labels: pr:new-feature, autoupdate

#1758 Split coverage upload into separate job
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/submit.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_mpi.bash
  .ci/gitlab/test_numpy_git.bash
  .ci/gitlab/test_oldest.bash
  .ci/gitlab/test_tutorials.bash
  .ci/gitlab/test_vanilla.bash
  .codecov.yml
  .github/workflows/conda_tests.yml
Labels: pr:change, autoupdate
