Repository pymor/pymor, pull requests merged in 2022-11, with the labels that each got.

#1740 Some small improvements of the documentation
  docs/source/_static/pymor.css
  src/pymor/core/defaults.py
Labels: pr:fix, autoupdate

#1784 Testing improvements
  .ci/conda-env.yml
  Makefile
  src/pymor/algorithms/basic.py
  src/pymor/algorithms/newton.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/discretizers/builtin/gui/jupyter/threejs.py
  src/pymor/discretizers/skfem/cg.py
  src/pymor/operators/interface.py
  src/pymor/tools/floatcmp.py
  src/pymor/vectorarrays/interface.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/output_error_estimation.py
  src/pymordemos/parametric_delay.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/parametric_synthetic.py
  src/pymordemos/string_equation.py
  src/pymordemos/unstable_heat.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/rand_la.py
  src/pymortests/algorithms/riccati.py
  src/pymortests/algorithms/solver.py
  src/pymortests/algorithms/sylvester.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/analyticalproblems/__init__.py
  src/pymortests/analyticalproblems/analyticalproblem.py
  src/pymortests/analyticalproblems/function.py
  src/pymortests/analyticalproblems/polygonal_chain.py
  src/pymortests/bindings/__init__.py
  src/pymortests/bindings/fenics_expressions.py
  src/pymortests/bindings/skfem.py
  src/pymortests/core/pickling.py
  src/pymortests/demos.py
  src/pymortests/discretizers/__init__.py
  src/pymortests/discretizers/affine_grid.py
  src/pymortests/discretizers/grid.py
  src/pymortests/discretizers/gui.py
  src/pymortests/models/__init__.py
  src/pymortests/models/iosys_add_sub_mul.py
  src/pymortests/models/iosys_save_load.py
  src/pymortests/models/model.py
  src/pymortests/models/transforms.py
  src/pymortests/operators/__init__.py
  src/pymortests/operators/block.py
  src/pymortests/operators/la.py
  src/pymortests/operators/low_rank_op.py
  src/pymortests/operators/operators.py
  src/pymortests/parameters/__init__.py
  src/pymortests/parameters/min_max_theta_functionals.py
  src/pymortests/parameters/mu_derivatives.py
  src/pymortests/parameters/parameter_functionals.py
  src/pymortests/parameters/parameters.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:fix, autoupdate

#1807 Add Hendrik as main developer
  AUTHORS.md
Labels: pr:new-feature, autoupdate
