Repository pymor/pymor, pull requests merged in 2022-06, with the labels that each got.

#1611 PHLTI system
  .ci/conda-env.yml
  docs/source/bibliography.bib
  docs/source/substitutions.py
  src/pymor/basic.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymordemos/phlti.py
  src/pymortests/demos.py
  src/pymortests/fixtures/grid.py
  src/pymortests/iosys_add_sub_mul.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:new-feature, autoupdate

#1630 `random_generalized_svd` dostring fixes
  src/pymor/algorithms/rand_la.py
Labels: pr:fix, autoupdate

#1637 Avoid division by zero in gram_schmidt
  src/pymor/algorithms/gram_schmidt.py
  src/pymor/discretizers/builtin/grids/interfaces.py
Labels: pr:change, pr:fix, autoupdate

#1643 change URLs to https (and more)
  docs/source/getting_started.md
  docs/source/release_notes/0.4.rst
  docs/source/technical_overview.rst
  docs/source/tutorial_external_solver.md
  setup.py
  src/pymor/algorithms/bernoulli.py
  src/pymor/analyticalproblems/expressions.py
  src/pymor/bindings/dunegdt.py
  src/pymor/discretizers/builtin/domaindiscretizers/gmsh.py
  src/pymor/discretizers/builtin/gui/qt.py
  src/pymor/models/symplectic.py
  src/pymor/operators/numpy.py
  src/pymor/tools/frozendict.py
  src/pymordemos/elliptic_unstructured.py
  src/pymordemos/unstable_heat.py
  src/pymortests/algorithms/bernoulli.py
  src/pymortests/iosys_add_sub_mul.py
  versioneer.py
Labels: infrastructure, pr:change, autoupdate

#1580 Add decorator for required test modules
  src/pymortests/base.py
  src/pymortests/lyapunov.py
  src/pymortests/riccati.py
Labels: pr:new-feature, autoupdate

#1650 [models.nn] fix output_functional not properly assigned
  src/pymor/models/neural_network.py
  src/pymortests/neural_network.py
Labels: pr:fix, autoupdate

#1651 [deps] restrict DUNE suggestion to systems
  .ci/conda-env.yml
  dependencies.py
  docs/source/conf.py
  requirements-optional.txt
Labels: infrastructure, backport, pr:change, autoupdate

#1652 [ci] test `pip install .[full]` in the conda envs
  .github/workflows/conda_tests.yml
Labels: pr:new-feature, autoupdate

#1659 Provide a default implementation of ComplexifiedVector.amax via to_numpy
  src/pymor/bindings/dunegdt.py
  src/pymor/vectorarrays/list.py
Labels: pr:new-feature, autoupdate
