Repository pymor/pymor, pull requests merged in 2022-03, with the labels that each got.

#1590 ci mpi improvements
  .ci/gitlab/test_mpi.bash
  .dockerignore
  MANIFEST.in
  src/pymortests/mpi_run_demo_tests.py
Labels: infrastructure, pr:change

#1584 Simplify VectorArray implementations
  docs/source/autoapi_pymor.py
  docs/source/tutorial_external_solver.md
  src/pymor/algorithms/projection.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/discretizers/builtin/grids/oned.py
  src/pymor/discretizers/builtin/grids/rect.py
  src/pymor/discretizers/builtin/grids/tria.py
  src/pymor/discretizers/builtin/grids/unstructured.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/operators/block.py
  src/pymor/operators/list.py
  src/pymor/operators/mpi.py
  src/pymor/vectorarrays/block.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/mpi.py
  src/pymor/vectorarrays/numpy.py
  src/pymordemos/minimal_cpp_demo/demo.py
  src/pymordemos/minimal_cpp_demo/wrapper.py
  src/pymortests/block.py
  src/pymortests/vectorarray.py
Labels: pr:change

#1599 add mailmap entries for @artpelling
  .mailmap
Labels: pr:change, management

#1525 Discrete Gramians
  AUTHORS.md
  src/pymor/algorithms/lradi.py
  src/pymor/algorithms/lyapunov.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymortests/lyapunov.py
Labels: pr:new-feature

#1605 Remark on requirements-ci.txt in developer_docs.md
  Makefile
  docs/source/developer_docs.md
Labels: pr:fix

#1602 fix pickling to respect specified protocol
  src/pymor/core/pickle.py
Labels: pr:fix

#1559 Additional features for neural networks
  AUTHORS.md
  src/pymor/models/neural_network.py
  src/pymor/reductors/neural_network.py
  src/pymordemos/neural_networks.py
  src/pymortests/demos.py
  src/pymortests/neural_network.py
Labels: pr:new-feature

#1607 [ci] spit labelling workflows, fixing github labeler
  .github/workflows/add_labels.yml
  .github/workflows/enforce-labels.yml
Labels: pr:fix
