Repository pymor/pymor, pull requests merged in 2022-12, with the labels that each got.

#1812 Add console highlighting extension to `conf.py`
  docs/source/conf.py
Labels: pr:fix, autoupdate

#1496 DWR reductor for output estimation with primal-dual approach
  AUTHORS.md
  src/pymor/reductors/dwr.py
  src/pymordemos/output_error_estimation_with_dwr.py
  src/pymortests/demos.py
Labels: pr:new-feature, autoupdate

#1787 Allow ParameterSpace to project parameters into its ranges
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:new-feature, autoupdate

#1603 keep factorization of dense numpy matrices for subsequent solves
  src/pymor/operators/numpy.py
Labels: pr:new-feature, autoupdate

#1817 Adjust `samdp` tests
  src/pymortests/algorithms/samdp.py
Labels: pr:change, autoupdate

#1815 Reset random state for each test
  conftest.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/bernoulli.py
  src/pymortests/algorithms/ei.py
  src/pymortests/algorithms/eigs.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/projection.py
  src/pymortests/algorithms/rand_la.py
  src/pymortests/algorithms/riccati.py
  src/pymortests/algorithms/samdp.py
  src/pymortests/algorithms/sylvester.py
  src/pymortests/algorithms/symplectic.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/analyticalproblems/function.py
  src/pymortests/complex_values.py
  src/pymortests/demos.py
  src/pymortests/fixtures/function.py
  src/pymortests/fixtures/operator.py
  src/pymortests/fixtures/parameter.py
  src/pymortests/models/model.py
  src/pymortests/operators/block.py
  src/pymortests/operators/low_rank_op.py
  src/pymortests/operators/operators.py
  src/pymortests/strategies.py
  src/pymortests/tools.py
  src/pymortests/vectorarray.py
Labels: pr:change, autoupdate

#1615 Adaptive frequency response
  docs/source/tutorial_bt.md
  docs/source/tutorial_lti_systems.md
  src/pymor/models/transfer_function.py
  src/pymor/tools/plot.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/parametric_delay.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/parametric_string.py
  src/pymordemos/parametric_synthetic.py
  src/pymordemos/phlti.py
  src/pymordemos/string_equation.py
  src/pymordemos/unstable_heat.py
  src/pymortests/tools.py
Labels: pr:new-feature, autoupdate

#1340 Enable `solve` and `output` for `LTIModel`
  docs/source/tutorial_lti_systems.md
  src/pymor/algorithms/timestepping.py
  src/pymor/analyticalproblems/expressions.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/transfer_function.py
  src/pymor/operators/constructions.py
  src/pymor/operators/numpy.py
  src/pymor/parameters/base.py
  src/pymortests/models/model.py
Labels: pr:new-feature, autoupdate

#1803 Create SECURITY.md
  .github/SECURITY.md
Labels: infrastructure, pr:new-feature, autoupdate

#1818 [discretizers.builtin] Eliminate zeros of sparse matrices
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
Labels: pr:change, autoupdate

#1855 [config] treat colab like vanilla ipython
  src/pymor/core/config.py
Labels: pr:change, autoupdate

#1587 Eigensystem Realization Algorithm
  AUTHORS.md
  docs/source/bibliography.bib
  src/pymor/algorithms/to_matrix.py
  src/pymor/operators/numpy.py
  src/pymor/reductors/era.py
  src/pymordemos/era.py
Labels: pr:new-feature, autoupdate

#1856 [docs] re-enable parallel build
  docs/Makefile
Labels: pr:change, autoupdate

#1828 Release notes 2022.2
  docs/source/release_notes/2022.1.rst
  docs/source/release_notes/2022.2.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature, autoupdate

#1054 Impulse and step response methods for `LTIModel`
  docs/source/heat_equation.py
  docs/source/tutorial_bt.md
  docs/source/tutorial_lti_systems.md
  src/pymor/algorithms/timestepping.py
  src/pymor/models/iosys.py
  src/pymortests/models/model.py
Labels: pr:new-feature, autoupdate

#1863 Fix remaining flake8 issues
  src/pymor/algorithms/rand_la.py
  src/pymor/operators/numpy.py
Labels: pr:fix, autoupdate

#1460 Long short-term memory neural networks
  .ci/gitlab/ci.yml
  .env
  .gitignore
  dependencies.py
  docs/source/_static/pymor.css
  docs/source/bibliography.bib
  docs/source/lstm.svg
  docs/source/lstm_cell.svg
  docs/source/lstm_cell_forget_gate.svg
  docs/source/lstm_cell_input_gate.svg
  docs/source/lstm_cell_output_gate.svg
  docs/source/neural_network.svg
  docs/source/tutorial_mor_with_anns.md
  requirements-optional.txt
  src/pymor/models/neural_network.py
  src/pymor/reductors/neural_network.py
  src/pymordemos/neural_networks_instationary.py
Labels: infrastructure, pr:new-feature, autoupdate

#1862 Update README for 2022.2
  README.md
Labels: pr:change, autoupdate

#1871 update ci images
  .ci/conda-env.yml
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
Labels: infrastructure, pr:change, autoupdate

#1868 [ci|gitlab] also try to install pyMOR in editable mode
  .ci/gitlab/test_pip_installed.bash
Labels: pr:new-feature, autoupdate

#1889 [deps] remove no longer used, officially deprecated, codecov uploader
  dependencies.py
  requirements-ci.txt
Labels: infrastructure, pr:change, autoupdate

#1888 Issue 1878 to main
  .ci/conda-env.yml
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-ci.txt
  requirements-optional.txt
  requirements.txt
Labels: infrastructure, pr:change, autoupdate

#1879 workaround for #1878
  .ci/conda-env.yml
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:change

#1901 [ci] adds an automerge workflow
  .github/workflows/automerge.yml
Labels: pr:change, autoupdate
