Repository pymor/pymor, pull requests merged in 2023-12, with the labels that each got.

#2234 Update CI requirements
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  requirements-ci-oldest.txt
  src/pymor/vectorarrays/interface.py
Labels: infrastructure, pr:change

#2235 Fix Documentation Issues
  docs/source/_templates/layout.html
  src/pymor/tools/jupyter.py
Labels: pr:fix

#2236 Release notes 2023.2
  AUTHORS.md
  docs/source/release_notes/2023.2.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature

#2238 update version
  src/pymor/__init__.py
Labels: pr:change, automerge

#2239 Update version
  src/pymor/__init__.py
Labels: pr:change, automerge

#2241 Remove deprecations after 2023.2 release
  docs/source/conf.py
  docs/source/release_notes/0.5.rst
  docs/source/tutorial_ph.md
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/riccati.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/bindings/pymess.py
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymor/tools/io/__init__.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/riccati.py
Labels: pr:removal

#2240 Fix python call in discretizers.builtin.gui.qt
  src/pymor/discretizers/builtin/gui/qt/__init__.py
Labels: backport, pr:fix
