Repository pymor/pymor, pull requests merged in 2023-09, with the labels that each got.

#2174 Deploy binder config to pymor/binder
  .ci/gitlab/docs_deploy.bash
  docker/Dockerfile.binder.tocopy
  docs/source/try_on_binder.py
Labels: infrastructure, backport, pr:change

#2160 Add autofix for markdown
  .pre-commit-config.yaml
Labels: pr:new-feature

#2191 Corrected reaction term in docstring
  src/pymor/analyticalproblems/elliptic.py
Labels: pr:fix

#2190 Remove asciitree dependency in print_children
  src/pymor/algorithms/rules.py
Labels: pr:change

#2172 Unindent dictionary key listings to avoid confusion with quotes
  src/pymor/algorithms/adaptivegreedy.py
  src/pymor/algorithms/bfgs.py
  src/pymor/algorithms/ei.py
  src/pymor/algorithms/error.py
  src/pymor/algorithms/greedy.py
  src/pymor/algorithms/newton.py
  src/pymor/analyticalproblems/elliptic.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/fenics/cg.py
  src/pymor/discretizers/skfem/cg.py
Labels: pr:fix

#2132 Add tutorial for port-Hamiltonian systems
  docs/source/bibliography.bib
  docs/source/msd_example.svg
  docs/source/tutorial_ph.md
  docs/source/tutorials.md
  src/pymor/models/examples.py
  src/pymor/models/iosys.py
  src/pymordemos/phlti.py
Labels: pr:new-feature

#2186 Improve jupyter logging widget
  docs/Makefile
  docs/source/jupyter_init.txt
  docs/source/myst_code_init.py
  src/pymor/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/tools/jupyter.py
Labels: pr:fix

#2182 fix `MoebiusTransformation`
  src/pymor/models/iosys.py
  src/pymor/models/transforms.py
  src/pymortests/models/transforms.py
Labels: pr:fix

#2111 Add `check_finite` and `check_cond` in `NumpyMatrixOperator` and use SciPy solvers elsewhere
  pyproject.toml
  src/pymor/algorithms/basic.py
  src/pymor/algorithms/ei.py
  src/pymor/algorithms/eigs.py
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/rand_la.py
  src/pymor/models/examples.py
  src/pymor/operators/constructions.py
  src/pymor/operators/numpy.py
  src/pymor/reductors/spectral_factor.py
  src/pymortests/algorithms/rand_la.py
  src/pymortests/operators/operators.py
  src/pymortests/reductors/spectral_factor.py
Labels: infrastructure, pr:new-feature

#2193 Deprecate pymess
  Makefile
  README.md
  docs/source/developer_docs.md
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-oldest.txt
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/pymess.py
Labels: infrastructure, pr:deprecation

#2176 Add tutorial on VectorArray basics
  docs/source/tutorial_vectorarray.md
  docs/source/tutorials.md
Labels: pr:new-feature

#2194 Remove pymor.tools.timer
  src/pymor/tools/timing.py
  src/pymortests/tools.py
Labels: pr:removal
