Repository pymor/pymor, pull requests merged in 2023-10, with the labels that each got.

#2204 Fix parsing of scalar time-dependent parameter values
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:fix

#2200 Fix Slycot matrix mutation
  src/pymor/bindings/pymess.py
  src/pymor/bindings/slycot.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/riccati.py
Labels: pr:fix

#2195 Handle matplotlib.cm.get_cmap deprecation
  pyproject.toml
  requirements-ci-oldest-pins.in
  requirements-ci-oldest.txt
  src/pymor/discretizers/builtin/gui/jupyter/kthreed.py
  src/pymor/discretizers/builtin/gui/qt/gl.py
  src/pymor/discretizers/builtin/gui/qt/matplotlib.py
Labels: infrastructure, pr:fix

#2171 Support Python 3.11
  .ci/gitlab/preflight.bash
  .github/workflows/conda_tests.yml
  Makefile
  conda-base.yml
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docker/Dockerfile.ci-current
  docker/Dockerfile.ci-fenics
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  requirements-ci-oldest.txt
  src/pymor/discretizers/builtin/gui/jupyter/kthreed.py
Labels: infrastructure, pr:new-feature, pr:removal

#2209 Backport: Add Python 3.11 to supported versions
  pyproject.toml
Labels: infrastructure, pr:new-feature

#2206 Added functionality to collapse long lists in the api reference
  docs/source/_static/pymor.css
  docs/source/_templates/layout.html
Labels: pr:new-feature
