Repository pymor/pymor, pull requests merged in 2023-06, with the labels that each got.

#2052 SAMDP Fix
  src/pymor/algorithms/samdp.py
  src/pymortests/algorithms/samdp.py
Labels: pr:fix

#2037 Update k3d version
  .github/workflows/pyproject_toml_changes.yml
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  pyproject.toml
  requirements-ci-oldest-pins.in
  requirements-ci-oldest.txt
Labels: infrastructure, pr:fix

#1940 Adding Log Sampling
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:new-feature

#1937 Switch to K3D-based visualizations in Jupyter environments
  docs/source/_static/pymor.css
  docs/source/conf.py
  docs/source/k3d_sphinx.py
  docs/source/pymor_defaults.py
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/kthreed.py
  src/pymor/discretizers/builtin/gui/jupyter/threejs.py
  src/pymor/discretizers/builtin/gui/visualizers.py
Labels: pr:new-feature

#2004 Algebraic ops for Mu instances
  AUTHORS.md
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:new-feature

#1952 Loewner Reductor
  docs/source/bibliography.bib
  src/pymor/reductors/loewner.py
  src/pymordemos/dd_heat.py
  src/pymortests/reductors/loewner.py
  src/pymortests/reductors/mt.py
Labels: pr:new-feature

#2073 Add rule for preassembling QuadraticFunctional
  src/pymor/algorithms/preassemble.py
Labels: pr:fix

#1837 Add S parameter to Riccati equation solvers
  src/pymor/algorithms/lrradi.py
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/pymess.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymortests/algorithms/riccati.py
Labels: pr:new-feature

#2076 Improve parsing of time-dependent parameter values
  src/pymor/analyticalproblems/functions.py
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:new-feature

#2078 [operators.constructions] Add a range_id to ComponentProjectionOperator
  src/pymor/operators/constructions.py
Labels: pr:change

#2077 Fix ProjectRules ExpandRules
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/simplify.py
Labels: pr:fix

#2053 Add iterable time stepping
  src/pymor/algorithms/timestepping.py
Labels: pr:new-feature

#1836 Refactorization of PHLTIModel to inherit from LTIModel and support Q matrix
  src/pymor/algorithms/simplify.py
  src/pymor/models/iosys.py
  src/pymor/reductors/ph/basic.py
  src/pymor/reductors/ph/ph_irka.py
  src/pymordemos/phlti.py
  src/pymortests/algorithms/simplify.py
  src/pymortests/demos.py
  src/pymortests/models/iosys_add_sub_mul.py
  src/pymortests/models/iosys_save_load.py
  src/pymortests/reductors/ph/ph_irka.py
Labels: pr:new-feature, pr:change

#2047 Update developer docs to reflect recent packaging/CI changes
  README.md
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
  docs/source/developer_docs.md
  pyproject.toml
Labels: infrastructure, pr:change

#1986 Add suffix to names in `project`
  docs/source/tutorial_projection.md
  src/pymor/algorithms/projection.py
  src/pymor/operators/block.py
  src/pymor/operators/constructions.py
  src/pymortests/algorithms/projection.py
Labels: pr:fix

#2080 Use python3 executable to call pymor_vis script
  src/pymor/discretizers/builtin/gui/qt/__init__.py
Labels: pr:fix

#1847 Positive real balanced truncation (PRBT)
  AUTHORS.md
  docs/source/bibliography.bib
  src/pymor/algorithms/riccati.py
  src/pymor/basic.py
  src/pymor/bindings/scipy.py
  src/pymor/models/iosys.py
  src/pymor/reductors/bt.py
  src/pymordemos/phlti.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/riccati.py
Labels: pr:new-feature

#2061 Interactively explore Models using ipywidgets
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docs/source/tutorial_interact.md
  docs/source/tutorials.rst
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-oldest.txt
  src/pymor/analyticalproblems/expressions.py
  src/pymor/basic.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/animation_widget.py
  src/pymor/discretizers/builtin/gui/jupyter/kthreed.py
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/visualizers.py
  src/pymor/models/interact.py
Labels: infrastructure, pr:new-feature

#2065 Remove code for older slycot
  docker/Dockerfile.ci-oldest
  requirements-ci-oldest.txt
  src/pymor/bindings/slycot.py
Labels: infrastructure, pr:removal

#2033 Passivity preserving model reduction via spectral factorization
  AUTHORS.md
  src/pymor/reductors/spectral_factor.py
  src/pymordemos/phlti.py
  src/pymortests/reductors/ph/ph_irka.py
  src/pymortests/reductors/spectral_factor.py
Labels: pr:new-feature

#2081 Integer-valued VectorSpace dimensions 2
  src/pymor/bindings/dunegdt.py
  src/pymor/vectorarrays/numpy.py
  src/pymortests/vectorarray.py
Labels: pr:fix

#1924 Adaptive Trust Region Algorithm
  AUTHORS.md
  docs/source/bibliography.bib
  docs/source/tutorial_optimization.md
  src/pymor/algorithms/bfgs.py
  src/pymor/algorithms/line_search.py
  src/pymor/algorithms/newton.py
  src/pymor/algorithms/tr.py
  src/pymor/core/exceptions.py
  src/pymordemos/trust_region.py
  src/pymortests/algorithms/bfgs.py
  src/pymortests/algorithms/tr.py
  src/pymortests/demos.py
  src/pymortests/strategies.py
Labels: pr:new-feature
