Repository pymor/pymor, pull requests merged in 2023-11, with the labels that each got.

#2212 p-AAA MIMO Fix
  src/pymor/reductors/aaa.py
  src/pymortests/reductors/paaa.py
Labels: pr:fix

#2128 `Operator`-valued functions in `FactorizedTransferFunction`
  src/pymor/models/iosys.py
  src/pymor/models/transfer_function.py
  src/pymor/reductors/interpolation.py
  src/pymortests/models/iosys_add_sub_mul.py
Labels: pr:change

#2180 Add H2 norm preset for `TransferFunction`
  src/pymor/models/transfer_function.py
Labels: pr:new-feature

#2219 Update to version 2023.1.1
  src/pymor/__init__.py
Labels: pr:new-feature

#2130 Fix "neighbor" typo
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymortests/discretizers/affine_grid.py
  src/pymortests/discretizers/grid.py
Labels: pr:new-feature, pr:deprecation

#2114 Add optional argument for returning coefficients in POD
  src/pymor/algorithms/pod.py
  src/pymortests/algorithms/pod.py
Labels: pr:new-feature

#2155 Run bibtex-tidy
  docs/source/bibliography.bib
  src/pymor/reductors/aaa.py
Labels: pr:new-feature

#2161 Add toml-sort hook
  .pre-commit-config.yaml
  pyproject.toml
Labels: infrastructure, pr:new-feature

#2125 Some pyproject.toml and ruff improvements
  pyproject.toml
Labels: infrastructure, pr:fix

#2162 Add yamlfix hook
  .codecov.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/actions/miniconda_tests/action.yml
  .github/labeler.yml
  .github/workflows/add_labels.yml
  .github/workflows/citation.yml
  .github/workflows/conda_cov_upload.yml
  .github/workflows/conda_tests.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/external_pr_mirror.yml
  .github/workflows/external_pr_unmirror.yml
  .github/workflows/git_checks.yml
  .github/workflows/link_check.yml
  .github/workflows/pyproject_toml_changes.yml
  .markdownlint.yml
  .pre-commit-config.yaml
  CITATION.cff
  pyproject.toml
Labels: infrastructure, pr:new-feature

#2221 Fix deployment of binder config for main
  .ci/gitlab/docs_deploy.bash
Labels: infrastructure, pr:fix

#2179 Self-documenting help target for Makefile
  Makefile
Labels: infrastructure, pr:new-feature

#2225 Backport: Avoid assumption of exact complex conjugation in MTReductor
  src/pymor/reductors/mt.py
Labels: pr:fix

#2224 Clarify how attributions are made
  AUTHORS.md
  CONTRIBUTING.md
  docs/RELEASE_PROCESS.md
Labels: pr:change, management

#2220 fix misleading `from_points` classmethod
  src/pymor/models/transforms.py
  src/pymortests/models/transforms.py
Labels: pr:fix

#2184 Refactoring pH and matrix solvers
  src/pymor/algorithms/riccati.py
  src/pymor/bindings/scipy.py
  src/pymor/bindings/slycot.py
  src/pymor/models/iosys.py
  src/pymor/reductors/spectral_factor.py
  src/pymordemos/phlti.py
  src/pymortests/algorithms/riccati.py
Labels: pr:change

#2138 DFT-based Operators
  AUTHORS.md
  docs/source/bibliography.bib
  docs/source/substitutions.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/operators/interface.py
  src/pymor/operators/numpy.py
  src/pymor/reductors/era.py
  src/pymortests/fixtures/operator.py
  src/pymortests/operators/operators.py
Labels: pr:new-feature, pr:change

#2230 Allow time-dependent Mus as arguments of cached functions / make cache key generation more flexible
  src/pymor/analyticalproblems/expressions.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/core/cache.py
  src/pymor/parameters/base.py
Labels: pr:new-feature, pr:fix

#2229 Pin numpy<2
  pyproject.toml
Labels: infrastructure, pr:change

#2228 Add 'from_file' and 'random' factory functions to BitmapFunction
  docs/source/tutorial_builtin_discretizer.md
  src/pymor/analyticalproblems/functions.py
  src/pymor/analyticalproblems/text.py
  src/pymortests/analyticalproblems/function.py
  src/pymortests/fixtures/function.py
Labels: pr:new-feature

#2226 [ruff] add flake8-pytest-style
  docs/test_tutorials.py
  pyproject.toml
  src/pymor/algorithms/bfgs.py
  src/pymor/algorithms/ei.py
  src/pymor/algorithms/eigs.py
  src/pymor/algorithms/genericsolvers.py
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/rand_la.py
  src/pymor/algorithms/riccati.py
  src/pymor/algorithms/samdp.py
  src/pymor/algorithms/sylvester.py
  src/pymor/algorithms/symplectic.py
  src/pymor/analyticalproblems/domaindescriptions.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/bindings/fenics.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/gui/matplotlib_base.py
  src/pymor/models/basic.py
  src/pymor/models/iosys.py
  src/pymor/models/symplectic.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interface.py
  src/pymor/operators/symplectic.py
  src/pymor/parameters/base.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/dwr.py
  src/pymor/reductors/era.py
  src/pymor/reductors/h2.py
  src/pymor/reductors/interpolation.py
  src/pymor/reductors/neural_network.py
  src/pymor/reductors/residual.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymordemos/symplectic_wave_equation.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/riccati.py
  src/pymortests/algorithms/svd_va.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/base.py
  src/pymortests/core/logger.py
  src/pymortests/demos.py
  src/pymortests/fixtures/operator.py
  src/pymortests/models/iosys_add_sub_mul.py
  src/pymortests/models/model.py
  src/pymortests/operators/block.py
  src/pymortests/operators/operators.py
  src/pymortests/reductors/h2.py
  src/pymortests/reductors/loewner.py
  src/pymortests/reductors/mt.py
  src/pymortests/reductors/paaa.py
  src/pymortests/reductors/ph/ph_irka.py
  src/pymortests/reductors/spectral_factor.py
Labels: infrastructure, pr:new-feature

#2203 `LTIModel` forced response computation
  AUTHORS.md
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
Labels: pr:new-feature, pr:fix
