Repository pymor/pymor, pull requests merged in 2023-04, with the labels that each got.

#2008 Edit and document Markdown rules
  .markdownlint.yml
  docs/RELEASE_CHECKLIST.md
  docs/source/developer_docs.md
  docs/source/getting_started.md
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_bt.md
  docs/source/tutorial_mor_with_anns.md
  logo/README.md
Labels: pr:change, autoupdate

#2013 Update pyMOR summary in the docs
  docs/source/index.rst
Labels: pr:change, autoupdate

#2002 Update mailmap
  .mailmap
Labels: pr:fix, autoupdate

#1835 pH-IRKA
  src/pymor/reductors/ph/__init__.py
  src/pymor/reductors/ph/basic.py
  src/pymor/reductors/ph/ph_irka.py
  src/pymordemos/phlti.py
  src/pymortests/demos.py
  src/pymortests/reductors/ph/__init__.py
  src/pymortests/reductors/ph/ph_irka.py
Labels: pr:new-feature, autoupdate

#1983 Add `tol` to `hinf_norm` and `linf_norm`
  src/pymor/models/iosys.py
Labels: pr:new-feature, autoupdate

#1946 Release process/schedule
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
Labels: pr:new-feature, autoupdate
