Repository pymor/pymor, pull requests merged in 2023-03, with the labels that each got.

#1968 Pin version of `ipydatawidgets`
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .ci/gitlab/ci.yml
  .env
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:fix, dependencies, autoupdate

#1965 Disable pre-commit.ci autofixes
  .pre-commit-config.yaml
Labels: pr:change, autoupdate

#1927 [tests] exercise the fenics discretizer
  src/pymor/analyticalproblems/functions.py
  src/pymortests/discretizers/fenics.py
Labels: pr:new-feature, autoupdate

#1961 Test modal truncation options
  src/pymortests/reductors/mt.py
Labels: pr:fix, autoupdate

#1962 Fixes in `LTIModel` time-stepping
  .ci/gitlab/template.ci.py
  docs/source/tutorial_mor_with_anns.md
  src/pymor/models/iosys.py
  src/pymor/reductors/basic.py
Labels: pr:fix

#1978 Some fixes in the cg discretizers
  src/pymor/discretizers/builtin/cg.py
Labels: pr:fix, autoupdate

#1980 Remove automerge action
  .github/workflows/automerge.yml
  .github/workflows/process_changed_dependencies.yml
Labels: infrastructure, pr:removal, autoupdate

#1944 Edit README
  .github/markdown_link_check_config.json
  README.md
Labels: infrastructure, pr:fix, autoupdate

#1981 Add Hendrik to `CITATION.cff`
  CITATION.cff
Labels: pr:fix, autoupdate

#1988 Fixes for the matplotlib and gl colorbars
  src/pymor/discretizers/builtin/gui/matplotlib_base.py
  src/pymor/discretizers/builtin/gui/qt/gl.py
Labels: pr:fix, autoupdate

#1960 Some fixes for the tutorials
  docs/Makefile
  docs/source/getting_started.md
  docs/source/myst_code_init.py
  docs/source/neural_network.png
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  docs/source/tutorial_projection.md
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
Labels: pr:fix, autoupdate

#1943 Implement BlockOperator.jacobian by computing Jacobians of blocks
  src/pymor/operators/block.py
  src/pymortests/operators/block.py
Labels: pr:new-feature, autoupdate

#1994 Fix failing codecov uploads.
  .github/workflows/conda_cov_upload.yml
  .github/workflows/conda_tests.yml
Labels: infrastructure, pr:fix, autoupdate

#1993 Fix parametric transfer function operations
  src/pymor/models/transfer_function.py
  src/pymortests/models/iosys_add_sub_mul.py
Labels: pr:fix, autoupdate

#1995 Improve basis generation tutorial
  docs/source/tutorial_basis_generation.md
Labels: backport, pr:fix, autoupdate

#1999 Backport: Improve basis generation tutorial
  docs/source/tutorial_basis_generation.md
Labels: pr:fix
