Repository pymor/pymor, pull requests merged in 2023-01, with the labels that each got.

#1845 issue 1825
  .ci/gitlab/ci.yml
  .env
  .github/workflows/automerge.yml
  .github/workflows/conda_tests.yml
  .github/workflows/dependencies_change.yml
  dependencies.py
  docs/source/developer_docs.md
  requirements-ci.txt
  requirements-optional.txt
Labels: infrastructure, pr:change, autoupdate

#1904 [deps] temporarily limit dune module versions to prevent update conflicts
  .github/actions/miniconda_tests/action.yml
  .github/workflows/automerge.yml
  .github/workflows/dependencies_change.yml
  dependencies.py
  requirements-optional.txt
Labels: infrastructure, pr:change, dependencies, autoupdate, automerge

#1909 [ci] simplify conda setup
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .github/actions/miniconda_tests/action.yml
  .gitignore
Labels: infrastructure, pr:change, autoupdate

#1907 (ci/deps) support Python 3.10
  .binder/docker-compose.yml
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .ci/gitlab/ci.yml
  .ci/gitlab/common_test_setup.bash
  .ci/gitlab/template.ci.py
  .ci/gitlab/test_pip_installed.bash
  .env
  .github/workflows/conda_tests.yml
  Makefile
  dependencies.py
  requirements-optional.txt
  requirements.txt
  src/pymor/core/config.py
Labels: infrastructure, pr:new-feature, autoupdate

#1708 Removes deprecated complex Hypothesis strategy
  .ci/conda-env.yml
  .github/workflows/conda_tests.yml
  dependencies.py
  requirements-ci.txt
  src/pymortests/strategies.py
Labels: infrastructure, pr:change, autoupdate

#1919 Renaming `stuff.py` into `newton.py`
  src/pymortests/algorithms/newton.py
Labels: pr:fix, autoupdate, automerge

#1911 Update and extend release checklist
  docs/RELEASE_CHECKLIST.md
Labels: pr:change, autoupdate

#1920 [ci] run main gitlab tests only for python 3.{8,10}
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .env
  Makefile
Labels: infrastructure, pr:change, autoupdate, automerge

#1796 Bilinear Functionals for use with output operators
  AUTHORS.md
  src/pymor/algorithms/projection.py
  src/pymor/analyticalproblems/elliptic.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/models/basic.py
  src/pymor/operators/constructions.py
  src/pymordemos/linear_optimization.py
  src/pymortests/operators/operators.py
  src/pymortests/parameters/mu_derivatives.py
Labels: pr:new-feature, autoupdate

#1870 add assertions to `IdentityOperator`
  src/pymor/operators/constructions.py
Labels: pr:fix, autoupdate

#1926 Add K3D
  .binder/Dockerfile
  .binder/docker-compose.yml
  .ci/check_mailmap.py
  .ci/conda-env.yml
  .ci/create_conda_env.py
  .ci/gitlab/ci.yml
  .ci/gitlab/docs_makeindex.py
  .ci/gitlab/template.ci.py
  .ci/gitlab/trigger_binder.py
  .env
  .github/workflows/process_changed_dependencies.yml
  conftest.py
  dependencies.py
  docs/source/.gitignore
  docs/source/conf.py
  docs/source/k3d_sphinx.py
  docs/source/myst_code_init.py
  docs/source/pymordocstring.py
  docs/source/tutorial_mor_with_anns.md
  docs/test_tutorials.py
  requirements-optional.txt
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/kthreed.py
Labels: infrastructure, pr:new-feature, dependencies, autoupdate

#1930 ci pre commit
  .ci/check_mailmap.py
  .ci/create_conda_env.py
  .ci/fix_coverage_paths_windows.py
  .ci/gitlab/docs_makeindex.py
  .ci/gitlab/template.ci.py
  README.md
  conftest.py
  dependencies.py
  docs/source/autoapi_pymor.py
  docs/source/conf.py
  docs/source/developer_docs.md
  docs/source/k3d_sphinx.py
  docs/source/myst_code_init.py
  docs/source/try_on_binder.py
  docs/test_tutorials.py
  pyproject.toml
  src/pymor/tools/__init__.py
  versioneer.py
Labels: infrastructure, pr:new-feature, autoupdate

#1932 From pr 1625
  .ci/gitlab/ci.yml
  .ci/gitlab/template.ci.py
  .github/labeler.yml
  .markdownlint.yml
  .pre-commit-config.yaml
  AUTHORS.md
  CONTRIBUTING.md
  README.md
  docs/source/getting_started.md
  docs/source/release_notes/2020.1.rst
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_external_solver.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  logo/README.md
  src/pymor/analyticalproblems/expressions.py
  src/pymor/models/symplectic.py
  src/pymor/reductors/neural_network.py
  src/pymor/tools/typer.py
  src/pymordemos/burgers_dmd.py
Labels: infrastructure, pr:change, pr:fix, management, autoupdate

#1933 [ci] bump images
  .ci/gitlab/ci.yml
  .env
Labels: infrastructure, pr:change, autoupdate, automerge

#1925 [docs] update notes for the git{lab,hub} bridge service
  docs/source/developer_docs.md
Labels: pr:change, autoupdate

#1827 Improve test coverage
  .codecov.yml
  .gitignore
  .pre-commit-config.yaml
  setup.cfg
  src/pymor/core/exceptions.py
  src/pymor/discretizers/fenics/cg.py
  src/pymor/scripts/pymor_demo.py
  src/pymordemos/neural_networks_instationary.py
  src/pymortests/base.py
  src/pymortests/demos.py
Labels: infrastructure, pr:change, pr:fix, autoupdate

#1939 [docs] add a note about pymor-oldest-supported-numpy package
  docs/source/developer_docs.md
Labels: pr:change, autoupdate
