Repository pymor/pymor, pull requests merged in 2023-05, with the labels that each got.

#2028 Update BBG Citation to Springer Publication
  docs/source/bibliography.bib
Labels: pr:fix, autoupdate

#2003 Edit release checklist
  docs/RELEASE_CHECKLIST.md
  docs/RELEASE_PROCESS.md
Labels: pr:fix, autoupdate

#2030 Replace `.data` by `.detach()` in neural network models
  src/pymor/models/neural_network.py
Labels: pr:change, autoupdate

#2023 PAAAReductor bug fix for non-parametric data
  src/pymor/reductors/aaa.py
  src/pymordemos/dd_heat.py
  src/pymordemos/dd_parametric_heat.py
  src/pymordemos/symplectic_wave_equation.py
  src/pymortests/demos.py
Labels: pr:fix, autoupdate

#2032 Automatically build missing CI images
  .ci/gitlab/check_image_in_registry.py
  .ci/gitlab/ci.yml
  .ci/gitlab/preflight.bash
  Makefile
  docker/Dockerfile.ci-preflight
Labels: infrastructure, pr:new-feature, autoupdate

#2039 [CI] Add missing requirements-ci-oldest-pins.in
  requirements-ci-oldest-pins.in
Labels: infrastructure, pr:fix, autoupdate

#2038 [CI] Remove autoupdate functionality
  .github/workflows/add_labels.yml
  .github/workflows/autoupdate.yml
Labels: infrastructure, pr:removal, autoupdate

#2042 [CI] add merge_group event to Github workflows
  .github/workflows/conda_tests.yml
  .github/workflows/enforce-labels.yml
  .github/workflows/git_checks.yml
  .github/workflows/link_check.yml
Labels: infrastructure, pr:change

#2040 [CI] Add github workflow to comment on pyproject.toml changes
  .github/workflows/pyproject_toml_changes.yml
Labels: infrastructure, pr:new-feature

#2043 [CI] fix syntax in pyproject_toml_changes.yml
  .github/workflows/pyproject_toml_changes.yml
Labels: infrastructure, pr:fix

#2045 [CI] fix syntax in pyproject_toml_changes.yml again
  .github/workflows/pyproject_toml_changes.yml
Labels: infrastructure, pr:fix

#2044 [CI] automatically tag CI images with commit tag or 'main'
  .ci/gitlab/ci.yml
  .ci/gitlab/docs_deploy.bash
  Makefile
Labels: infrastructure, pr:new-feature

#2054 Make GenericBHIReductor an abstract class
  src/pymor/reductors/interpolation.py
Labels: pr:fix

#2058 Fix problem description in heat demo
  src/pymordemos/heat.py
Labels: pr:fix

#2057 Add assignment of issues to release process
  docs/RELEASE_PROCESS.md
Labels: pr:change

#2066 Fix typo in `ProjectedEmpiciralInterpolatedOperator`
  src/pymor/algorithms/projection.py
  src/pymor/operators/ei.py
Labels: pr:fix
