Repository pymor/pymor, pull requests merged in 2023-07, with the labels that each got.

#2084 [ci] update current requirements
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  requirements-ci-oldest.txt
Labels: infrastructure, pr:new-feature

#2083 Release notes 2023.1
  AUTHORS.md
  docs/source/release_notes/2023.1.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature

#2064 Fix broken references in docs
  docs/source/autoapi_pymor.py
  docs/source/conf.py
  docs/source/index.md
  docs/source/release_notes/0.3.rst
  docs/source/release_notes/0.4.rst
  docs/source/release_notes/0.5.rst
  docs/source/release_notes/2019.2.rst
  docs/source/release_notes/2020.1.rst
  docs/source/release_notes/2020.2.rst
  docs/source/release_notes/2021.1.rst
  docs/source/release_notes/2021.2.rst
  docs/source/release_notes/2022.1.rst
  docs/source/substitutions.py
  docs/source/technical_overview.rst
  docs/source/tutorial_external_solver.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  docs/source/tutorial_projection.md
  docs/source/tutorial_unstable_lti_systems.md
  src/pymor/algorithms/bfgs.py
  src/pymor/algorithms/hapod.py
  src/pymor/algorithms/lincomb.py
  src/pymor/algorithms/preassemble.py
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/rules.py
  src/pymor/algorithms/simplify.py
  src/pymor/algorithms/timestepping.py
  src/pymor/algorithms/to_matrix.py
  src/pymor/analyticalproblems/expressions.py
  src/pymor/analyticalproblems/functions.py
  src/pymor/bindings/fenics.py
  src/pymor/core/base.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/domaindiscretizers/default.py
  src/pymor/discretizers/builtin/domaindiscretizers/gmsh.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/grids/gmsh.py
  src/pymor/discretizers/builtin/grids/subgrid.py
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/qt/gl.py
  src/pymor/discretizers/builtin/list.py
  src/pymor/models/basic.py
  src/pymor/models/interact.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/operators/block.py
  src/pymor/operators/constructions.py
  src/pymor/operators/interface.py
  src/pymor/operators/list.py
  src/pymor/parallel/basic.py
  src/pymor/parallel/dummy.py
  src/pymor/parallel/interface.py
  src/pymor/parameters/functionals.py
  src/pymor/reductors/dwr.py
  src/pymor/tools/floatcmp.py
  src/pymor/tools/plot.py
  src/pymor/tools/random.py
  src/pymor/vectorarrays/interface.py
  src/pymordemos/era.py
  src/pymordemos/trust_region.py
Labels: pr:fix

#2091 Update version in README.md
  README.md
Labels: pr:fix

#2094 Update .mailmap
  .mailmap
Labels: pr:fix

#2093 Update target tag to 2023.2.0.dev0
  src/pymor/__init__.py
Labels: pr:new-feature

#2086 Use setup-micromamba instead of provision-with-micromamba
  .github/actions/miniconda_tests/action.yml
Labels: infrastructure, pr:fix

#2109 Fix typo L->B in tutorial builtin discretizer
  docs/source/tutorial_builtin_discretizer.md
Labels: pr:fix

#2095 jupyterlite fix / config improvements / remove progress bar
  src/pymor/core/config.py
  src/pymor/discretizers/builtin/gui/jupyter/__init__.py
  src/pymor/discretizers/builtin/gui/jupyter/logging.py
  src/pymor/parallel/ipython.py
Labels: pr:change, pr:removal, pr:fix

#2110 Fix a few typos in tutorials
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_projection.md
Labels: pr:fix

#2113 Avoid assumption of exact complex conjugation in `MTReductor`
  src/pymor/reductors/mt.py
Labels: pr:fix

#2126 Add missing argument docstring in PHLTI Demo
  src/pymordemos/phlti.py
Labels: pr:fix

#2127 Fix misspell of parameter
  src/pymor/parameters/base.py
Labels: pr:fix
