Repository pymor/pymor, pull requests merged in 2024-06, with the labels that each got.

#2268 Support Python 3.12
  .github/workflows/conda_tests.yml
  Makefile
  conda-base.yml
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docker/Dockerfile.ci-current
  pyproject.toml
  requirements-ci-current.txt
Labels: infrastructure, pr:new-feature

#2278 Simplify and clarify Model interface
  docs/source/tutorial_optimization.md
  src/pymor/algorithms/bfgs.py
  src/pymor/algorithms/error.py
  src/pymor/algorithms/greedy.py
  src/pymor/algorithms/tr.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/models/neural_network.py
  src/pymor/reductors/coercive.py
  src/pymor/reductors/dwr.py
  src/pymor/reductors/parabolic.py
  src/pymordemos/linear_optimization.py
  src/pymordemos/output_error_estimation.py
  src/pymordemos/output_error_estimation_with_dwr.py
  src/pymortests/parameters/mu_derivatives.py
Labels: pr:change

#2279 Add and use 'rng' fixture in unit tests
  conftest.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/bernoulli.py
  src/pymortests/algorithms/eigs.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/projection.py
  src/pymortests/algorithms/rand_la.py
  src/pymortests/algorithms/riccati.py
  src/pymortests/algorithms/samdp.py
  src/pymortests/algorithms/sylvester.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/analyticalproblems/function.py
  src/pymortests/complex_values.py
  src/pymortests/fixtures/function.py
  src/pymortests/fixtures/operator.py
  src/pymortests/fixtures/parameter.py
  src/pymortests/neural_network.py
  src/pymortests/operators/block.py
  src/pymortests/operators/low_rank_op.py
  src/pymortests/operators/operators.py
  src/pymortests/reductors/loewner.py
  src/pymortests/reductors/paaa.py
  src/pymortests/vectorarray.py
Labels: pr:new-feature

#2277 Simplify implementation of Model.compute and improve caching
  docs/source/autoapi_pymor.py
  docs/source/tutorial_projection.md
  src/pymor/core/cache.py
  src/pymor/models/basic.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/models/neural_network.py
  src/pymor/parameters/base.py
Labels: pr:new-feature

#1989 Successive constraints method
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docs/source/bibliography.bib
  requirements-ci-oldest-pins.in
  requirements-ci-oldest.txt
  src/pymor/algorithms/scm.py
  src/pymor/parameters/functionals.py
  src/pymordemos/coercivity_estimation_scm.py
  src/pymortests/demos.py
Labels: infrastructure, pr:new-feature

#2181 TR description in optimization tutorial
  docs/source/trust_region_plot.png
  docs/source/tutorial_optimization.md
Labels: pr:new-feature

#1753 `rand_la` refactoring
  src/pymor/algorithms/rand_la.py
  src/pymortests/algorithms/rand_la.py
Labels: pr:new-feature, pr:change

#2284 Make eigs a bit more robust w.r.t. breakdowns in arnoldi iteration
  src/pymor/algorithms/eigs.py
Labels: pr:fix

#2214 Add vector fitting
  docs/source/bibliography.bib
  src/pymor/reductors/h2.py
  src/pymordemos/dd_heat.py
Labels: pr:new-feature
