Repository pymor/pymor, pull requests merged in 2024-02, with the labels that each got.

#2257 Retire René as main developer
  AUTHORS.md
Labels: pr:change

#2253 fix to prevent unnecessary copys in NumpyVectorArrayImpl functions
  src/pymor/vectorarrays/numpy.py
Labels: pr:fix

#2260 Run apt-get update before installing X libs
  .github/actions/miniconda_tests/action.yml
Labels: infrastructure, pr:fix

#2255 Allow `to_matrices` to accept parameter
  src/pymor/models/iosys.py
Labels: pr:new-feature
