Repository pymor/pymor, pull requests merged in 2024-09, with the labels that each got.

#2328 Use for visualizer subprocess the parent Python executable
  src/pymor/discretizers/builtin/gui/qt/__init__.py
Labels: pr:fix

#2308 Replace 'pip-compile' by 'uv pip compile' for generating requirements files
  Makefile
  docs/source/developer_docs.md
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics-pins.in
  requirements-ci-fenics.txt
  requirements-ci-oldest-pins.in
  requirements-ci-oldest.txt
Labels: infrastructure, pr:change

#2345 Catch all exceptions in config checks and make _init_mpi() more robust
  src/pymor/__init__.py
  src/pymor/core/config.py
Labels: pr:fix

#2347 Fix ei_greedy for complex-valued arrays
  src/pymor/algorithms/ei.py
  src/pymortests/algorithms/ei.py
Labels: pr:fix

#2348 Add to_matrix to basic module
  src/pymor/basic.py
Labels: pr:new-feature

#2350 Update/streamline pip installation instructions
  README.md
Labels: pr:change

#2349 Add arbitrary (inequality) constraints to ParameterSpace
  src/pymor/parameters/base.py
  src/pymortests/parameters/parameters.py
Labels: pr:new-feature

#2296 Enhance `LTIModel.from_matrices`
  pyproject.toml
  requirements-ci-oldest-pins.in
  requirements-ci-oldest.txt
  src/pymor/bindings/scipy.py
  src/pymor/models/iosys.py
Labels: infrastructure, pr:new-feature, pr:removal

#2353 Add print_cached_methods()
  docs/source/technical_overview.rst
  src/pymor/basic.py
  src/pymor/core/cache.py
  src/pymortests/core/cache.py
Labels: pr:new-feature

#2354 Improve default behavior of print_defaults
  src/pymor/core/defaults.py
  src/pymor/tools/table.py
Labels: pr:change

#2361 Fix test_bernoulli_stabilize
  src/pymortests/algorithms/bernoulli.py
Labels: pr:fix

#2358 Drop Python 3.8 support
  .github/workflows/conda_tests.yml
  Makefile
  docker/Dockerfile.ci-oldest
  pyproject.toml
  requirements-ci-oldest.txt
  src/pymor/analyticalproblems/expressions.py
  src/pymortests/base.py
Labels: pr:removal

#2362 Fix coverage upload for conda tests
  .github/workflows/conda_cov_upload.yml
Labels: infrastructure, pr:fix

#2363 Fix coverage upload for conda tests 2
  .github/workflows/conda_cov_upload.yml
Labels: infrastructure, pr:fix

#2359 Block Arnoldi
  src/pymor/algorithms/krylov.py
  src/pymortests/algorithms/krylov.py
Labels: pr:new-feature

#2357 Remove space ids
  .gitignore
  docs/source/autoapi_pymor.py
  docs/source/technical_overview.rst
  docs/source/tutorial_vectorarray.md
  src/pymor/algorithms/lincomb.py
  src/pymor/algorithms/projection.py
  src/pymor/algorithms/simplify.py
  src/pymor/bindings/dunegdt.py
  src/pymor/bindings/fenics.py
  src/pymor/bindings/ngsolve.py
  src/pymor/discretizers/builtin/cg.py
  src/pymor/discretizers/builtin/fv.py
  src/pymor/discretizers/builtin/list.py
  src/pymor/models/iosys.py
  src/pymor/models/mpi.py
  src/pymor/operators/constructions.py
  src/pymor/operators/ei.py
  src/pymor/operators/list.py
  src/pymor/operators/numpy.py
  src/pymor/reductors/spectral_factor.py
  src/pymor/vectorarrays/interface.py
  src/pymor/vectorarrays/list.py
  src/pymor/vectorarrays/mpi.py
  src/pymor/vectorarrays/numpy.py
  src/pymordemos/output_error_estimation.py
  src/pymortests/algorithms/simplify.py
  src/pymortests/fixtures/operator.py
Labels: pr:removal

#2365 Fix coverage upload for conda tests 4
  .github/actions/miniconda_tests/action.yml
  .github/workflows/conda_cov_upload.yml
Labels: infrastructure, pr:fix

#2360 Make sure failed conda tests actually fail the job
  .github/actions/miniconda_tests/action.yml
  src/pymortests/algorithms/samdp.py
  src/pymortests/reductors/mt.py
Labels: infrastructure, pr:fix
