Repository pymor/pymor, pull requests merged in 2024-03, with the labels that each got.

#2263 Make DefaultContainer iterable
  src/pymor/core/defaults.py
Labels: pr:fix

#2262 Support pyopengl-1.3.7 / bump CI images / disable mpi on conda
  Makefile
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docker/Dockerfile.ci-current
  docker/Dockerfile.ci-oldest
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  requirements-ci-oldest.txt
Labels: infrastructure, pr:fix

#2233 Add Ruff NPY rules, rework test randomization
  conftest.py
  pyproject.toml
  src/pymor/discretizers/builtin/grids/subgrid.py
  src/pymortests/algorithms/basic.py
  src/pymortests/algorithms/bernoulli.py
  src/pymortests/algorithms/eigs.py
  src/pymortests/algorithms/lyapunov.py
  src/pymortests/algorithms/projection.py
  src/pymortests/algorithms/rand_la.py
  src/pymortests/algorithms/riccati.py
  src/pymortests/algorithms/samdp.py
  src/pymortests/algorithms/sylvester.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/complex_values.py
  src/pymortests/fixtures/function.py
  src/pymortests/fixtures/operator.py
  src/pymortests/fixtures/parameter.py
  src/pymortests/neural_network.py
  src/pymortests/operators/block.py
  src/pymortests/operators/operators.py
  src/pymortests/reductors/loewner.py
  src/pymortests/reductors/paaa.py
  src/pymortests/strategies.py
  src/pymortests/vectorarray.py
Labels: infrastructure, pr:new-feature, pr:change

#2265 Make Subgrid.indices_from_parent_indices more readable
  src/pymor/discretizers/builtin/grids/subgrid.py
Labels: pr:fix

#2264 Use np.add.at to assemble vectors in builtin discretization toolkit
  src/pymor/discretizers/builtin/cg.py
Labels: pr:fix

#2267 Fix a few test tolerances to make weekly ci pass
  src/pymor/discretizers/builtin/grids/interfaces.py
  src/pymortests/algorithms/pod.py
  src/pymortests/discretizers/affine_grid.py
Labels: pr:fix

#2269 Remove coverage upload for weekly CI runs
  .ci/gitlab/ci.yml
Labels: infrastructure, pr:removal, pr:fix
