Repository pymor/pymor, pull requests merged in 2024-01, with the labels that each got.

#2247 Directly rsync docs to docs.pymor.org
  .ci/gitlab/docs_deploy.bash
  docs/RELEASE_CHECKLIST.md
Labels: infrastructure, pr:change

#2246 Bug Fix in FactorizedTransferFunction
  src/pymor/models/transfer_function.py
Labels: pr:fix

#2250 Implement __eq__, __hash__ for ReferenceElement
  src/pymor/discretizers/builtin/grids/interfaces.py
Labels: pr:fix

#2252 Add housekeeping scripts for docs.pymor.org
  .ci/gitlab/docs_housekeeping.sh
  .ci/gitlab/docs_makeindex.py
  .ci/gitlab/docs_update_versions.py
Labels: infrastructure, pr:new-feature
