Repository pymor/pymor, pull requests merged in 2024-12, with the labels that each got.

#2388 Use macos-13 CI image
  .github/workflows/conda_tests.yml
Labels: infrastructure, pr:change, pr:fix

#2386 fix spelling
  src/pymor/algorithms/eigs.py
  src/pymor/algorithms/symplectic.py
  src/pymor/core/cache.py
  src/pymor/core/defaults.py
  src/pymor/discretizers/builtin/grids/referenceelements.py
  src/pymor/models/basic.py
  src/pymordemos/neural_networks.py
  src/pymordemos/neural_networks_instationary.py
  src/pymortests/demos.py
Labels: pr:fix

#2378 Time stepping backwards in time
  src/pymor/algorithms/timestepping.py
  src/pymortests/algorithms/timestepping.py
Labels: pr:new-feature

#2385 New approach to time-dependent parameter values
  docs/source/substitutions.py
  src/pymor/algorithms/error.py
  src/pymor/algorithms/timestepping.py
  src/pymor/algorithms/tr.py
  src/pymor/core/cache.py
  src/pymor/models/basic.py
  src/pymor/models/interact.py
  src/pymor/models/interface.py
  src/pymor/models/iosys.py
  src/pymor/models/neural_network.py
  src/pymor/operators/constructions.py
  src/pymor/parameters/base.py
  src/pymor/reductors/neural_network.py
  src/pymor/reductors/parabolic.py
  src/pymortests/parameters/parameters.py
  src/pymortests/strategies.py
Labels: pr:change

#2304 Recalculated shifted Cholesky QR
  src/pymor/algorithms/chol_qr.py
  src/pymortests/algorithms/chol_qr.py
Labels: pr:new-feature

#2381 scikit-fem: Fix boundary handling for 1.13 <= scipy < 1.15
  src/pymor/discretizers/skfem/cg.py
  src/pymortests/bindings/skfem.py
Labels: pr:fix

#2380 Support Python 3.13
  .github/actions/miniconda_tests/action.yml
  .github/workflows/conda_tests.yml
  Makefile
  conda-base.yml
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docker/Dockerfile.ci-current
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  requirements-ci-oldest.txt
  src/pymor/algorithms/lyapunov.py
  src/pymor/algorithms/svd_va.py
  src/pymor/bindings/scipy.py
  src/pymor/core/config.py
  src/pymor/core/pickle.py
  src/pymor/models/iosys.py
  src/pymor/reductors/aaa.py
  src/pymor/reductors/sobt.py
  src/pymortests/algorithms/chol_qr.py
Labels: pr:new-feature

#2389 Release notes for 2024.2 release
  AUTHORS.md
  docs/source/release_notes/2024.1.rst
  docs/source/release_notes/2024.2.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature, management

#2393 [release] Update version
  src/pymor/__init__.py
Labels: pr:change, management
