Repository pymor/pymor, pull requests merged in 2024-07, with the labels that each got.

#2287 docstring fix for `gram_schmidt`
  src/pymor/algorithms/gram_schmidt.py
Labels: pr:fix

#2293 Move some models from demos and tests to models.examples
  docs/source/tutorial_ph.md
  src/pymor/models/examples.py
  src/pymordemos/dd_heat.py
  src/pymordemos/dd_parametric_heat.py
  src/pymordemos/delay.py
  src/pymordemos/heat.py
  src/pymordemos/parametric_heat.py
  src/pymordemos/phlti.py
  src/pymortests/demos.py
  src/pymortests/reductors/loewner.py
  src/pymortests/reductors/mt.py
Labels: pr:new-feature

#2153 Add tutorial on interpolation for LTI systems
  docs/source/bibliography.bib
  docs/source/tutorial_basis_generation.md
  docs/source/tutorial_bt.md
  docs/source/tutorial_builtin_discretizer.md
  docs/source/tutorial_external_solver.md
  docs/source/tutorial_interact.md
  docs/source/tutorial_interpolation.md
  docs/source/tutorial_lti_systems.md
  docs/source/tutorial_mor_with_anns.md
  docs/source/tutorial_optimization.md
  docs/source/tutorial_ph.md
  docs/source/tutorial_projection.md
  docs/source/tutorial_unstable_lti_systems.md
  docs/source/tutorial_vectorarray.md
  docs/source/tutorials.md
  src/pymor/algorithms/krylov.py
  src/pymor/tools/plot.py
Labels: pr:new-feature

#2294 Use shift-invert mode of eigs in successive constraints method
  src/pymor/algorithms/scm.py
Labels: pr:fix

#2266 Add MOR methods overview to documentation
  docs/source/index.md
  docs/source/mor_methods.md
  docs/source/tutorials.md
  src/pymor/algorithms/greedy.py
  src/pymor/models/examples.py
Labels: pr:new-feature

#2291 Release notes for 2024.1
  AUTHORS.md
  docs/source/release_notes/2024.1.rst
  docs/source/release_notes/all.rst
Labels: pr:new-feature

#2297 Bump ci requirements
  .ci/gitlab/test_tutorials.bash
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  docs/source/conf.py
  requirements-ci-current.txt
  requirements-ci-fenics.txt
  src/pymor/bindings/scipy.py
  src/pymor/discretizers/builtin/gui/qt/gl.py
  src/pymor/discretizers/skfem/cg.py
  src/pymortests/bindings/skfem.py
Labels: infrastructure, pr:change

#2298 Update README.md for release
  README.md
Labels: pr:change

#2300 Bump version to 2024.1.0
  src/pymor/__init__.py
Labels: pr:change

#2302 Bump version to 2024.2.0.dev0
  src/pymor/__init__.py
Labels: pr:change
