Repository pymor/pymor, pull requests merged in 2025-08, with the labels that each got.

#2416 Remove dune-gdt bindings
  .ci/gitlab/ci.yml
  Makefile
  pyproject.toml
  requirements-ci-oldest.txt
  src/pymor/algorithms/to_matrix.py
  src/pymor/bindings/dunegdt.py
  src/pymor/core/config.py
  src/pymor/vectorarrays/list.py
  src/pymortests/algorithms/to_matrix.py
  src/pymortests/core/pickling.py
  src/pymortests/operators/operators.py
  src/pymortests/strategies.py
  src/pymortests/vectorarray.py
Labels: pr:removal

#2445 Fix shape of scipy solver return values
  src/pymor/bindings/scipy.py
Labels: pr:fix

#2431 BSD-3-Clause license
  LICENSE.txt
  LICENSES_bundled.txt
  pyproject.toml
  src/pymor/algorithms/genericsolvers.py
Labels: infrastructure, pr:change

#2446 Update current requirements for 2025.1 release
  conda-linux-64.lock
  conda-lock.yml
  conda-osx-64.lock
  conda-win-64.lock
  pyproject.toml
  requirements-ci-current.txt
  requirements-ci-fenics-pins.in
  requirements-ci-fenics.txt
Labels: pr:change
