Repository pymor/pymor, pull requests merged in 2025-09, with the labels that each got.

#2417 Allow for `VectorArrays` as right hand side in time stepping methods
  docs/source/substitutions.py
  src/pymor/algorithms/timestepping.py
  src/pymor/operators/constructions.py
  src/pymortests/algorithms/timestepping.py
  src/pymortests/operators/operators.py
Labels: pr:new-feature

#2450 Update version
  src/pymor/__init__.py
Labels: pr:new-feature

#2453 Update links to MORWiki
  README.md
  docs/RELEASE_CHECKLIST.md
  docs/source/index.md
  docs/source/tutorial_interpolation.md
Labels: pr:change

#2458 Fix jupyter visualizer with matplotlib backend
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib_base.py
Labels: backport, pr:fix

#2460 Backport "Fix jupyter visualizer with matplotlib backend"
  src/pymor/discretizers/builtin/gui/jupyter/matplotlib.py
  src/pymor/discretizers/builtin/gui/matplotlib_base.py
Labels: pr:fix

#2461 Bump version to 2025.1.2
  src/pymor/__init__.py
Labels: pr:change

#2457 Add conftest.py to sdist
  pyproject.toml
Labels: infrastructure, pr:fix

#2462 Fix coverage upload from GitHub actions
  .github/actions/miniconda_tests/action.yml
  .github/workflows/conda_cov_upload.yml
  .github/workflows/conda_tests.yml
Labels: pr:fix
